.nav-link>.icon-shape i
{
	color: #344767 !important;
}

.swal-footer
{
    text-align:center !important;
}

.nav-link.active>.icon-shape i
{
	color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 9px;
    right: 6px;
    width: 20px;
}

.main-content .icon-shape{
    width: 57px;
    height: 57px;
}
.main-content .icon-shape .ni {
    top: 20px;
}
.main-content #counter {
    border: 0;
    color: #5d6c85;
}
a.text-white.text-body {
    color: #ffffff !important;
}
a.btn.aig-explore-btn {
    background: #fff;
    margin-bottom: 0;
    border-radius: 30px;
    color: #000;
}
.aig-flex-jufy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aig-content-icon i {
    color: white;
    font-size: 122px;
}
.aig-comingsoon .aig-content-icon i {
    font-size: 70px;
}
.aig-comingsoon h5.text-white {
    height: 60px;
}
.aig-comingsoon a.btn.aig-explore-btn{
    cursor: unset;
}

@media screen and (max-width: 767px){
    .aig-flex-jufy{
        align-items: center;
    flex-direction: column-reverse;
    }
    .aig-content h5.text-white {
    margin-bottom: 2rem !important;
    text-align: center;
}
.aig-content-icon i{
    margin-bottom: 10px;
}
.aig-content .d-flex, .aig-comingsoon .d-flex{
    justify-content: center;
}
.aig-comingsoon h5.text-white {
    height: auto;
}
.aig-comingsoon .aig-content-icon i {
    font-size: 122px;
}
}


    .pricing-page-wraper {
        width: 100%;
        background: #f3eef6;
        padding: 0 0 60px;
        float: left;
    }

    .pricing-page-menu {
        width: 100%;
        float: left;
        text-align: center;
        background: #fff;
        box-shadow: 0 3px 8px #0000003b;
        margin: 0;
        padding: 19px 0;
    }

    .pricing-page-menu nav {
        display: inline-block;
    }

    .pricing-page-menu ul li a,
    .pricing-page-menu nav .nav-fill .nav-item {
        display: inline-block;
        position: relative;
        padding: 0 0 1px;
        margin: 0 15px;
        color: #662d91;
        transition: all ease-in-out 1.0s;
        border: none;
    }

    .pricing-page-menu .nav-tabs {
        border-bottom: none;
    }

    .pricing-page-menu ul li a:before,
    .pricing-page-menu nav .nav-fill .nav-item:before {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        background: #662d91;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all ease-in-out 1.0s;
    }

    .pricing-page-menu ul li a:hover,
    .pricing-page-menu nav .nav-fill .nav-item:before {
        color: #662d91;
        text-decoration: none;
    }

    .pricing-page-menu ul li:hover a:before,
    .pricing-page-menu ul li.active a:before,
    .pricing-page-menu nav .nav-fill .nav-item:hover:before,
    .pricing-page-menu nav .nav-fill .nav-item.active:before {
        width: 100%;
    }

    .pricing-page-menu ul {
        display: inline-block;
    }

    .pricing-page-menu ul li {
        display: inline-block;
    }

    section.pricing-box-con {
        text-align: center;
    }

    section.pricing-box-con {
        text-align: center;
        width: 100%;
        float: left;
        padding: 30px 0 0;
        position: relative;
        background: url(../assets/img/BackgroundLineWhite.svg) no-repeat;
        background-size: 60%;
    }

    .pricing-box-wrapper {
        width: 100%;
        float: left;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 8px #0000003b;
        margin-bottom: 30px;
    }

    .heirloom-keepsake {
        margin-top: 50px;
    }



    .pricing-box-wrapper:before {
        content: '';
        position: absolute;
        top: 5%;
        right: 20%;
        background: url(../assets/img/element-1.png) no-repeat;
        width: 95px;
        height: 77px;
    }

    #nav-HeirloomKeepsake .pricing-box-wrapper:before {
        display: none;
    }

    .heading-group {
        width: 100%;
        float: left;
    }

    .heading-group h5 {
        font-size: 18px;
        color: #662d91;
        margin: 20px 0;
    }

    .heading-group h6 {
        margin: 0 0 30px;
    }

    .heading-group h6 span {
        display: inline-block;
        padding: 10px 21px;
        background: #f3eef6;
        border-radius: 10px;
        font-size: 14px;
        color: #662d91;
    }

    .heading-group h2 {
        margin-bottom: 0;
    }

    section.pricing-box-con nav {
        display: inline-block;
        border: 1px solid #f2f3f4;
        border-radius: 30px;
        overflow: hidden;
        background: #fbfbfc;
    }

    section.pricing-box-con nav .nav-tabs .nav-link {
        border-radius: 30px !important;
        color: #979899;
    }

    section.pricing-box-con nav .nav-tabs .nav-link span {
        background: #eef0f2;
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 11px;
    }

    section.pricing-box-con.nav-tabs .nav-item.show .nav-link,
    section.pricing-box-con .nav-tabs .nav-link.active,
    section.pricing-box-con.nav-tabs .nav-item.show .nav-link:hover {
        color: #7d4da1;
        background-color: #fff;
        border-color: #7d4da1;
    }

    section.pricing-box-con-2 {
        width: 100%;
        float: left;
        padding: 60px 0;
    }

    section.pricing-box-con-2 .left {
        padding: 60px 0 0;
        position: relative;
    }

    section.pricing-box-con-2 .left .btn {
        background: #662d91;
        color: #fff;
    }

    section.pricing-box-con-2 .left .btn.btn-2 {
        background: #fff;
        color: #662d91;
        margin-right: 10px;
        padding: 7px 22px;
        border-radius: 30px;
    }

    section.pricing-box-con-2 h2 {
        color: #662d91;
        margin-bottom: 30px;
        background: url(../assets/img/b1.jpg) no-repeat;
        background-position: left bottom;
        padding-bottom: 0px;
    }

    .pricing-box {
        width: 100%;
        border: 2px solid #edeff1;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .pricing-box {
        width: 100%;
        border: 2px solid #edeff1;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        text-align: center;
        transition: all ease-in-out 0.5s;
    }

    .pricing-box:hover,
    .pricing-box.active {
        border-color: #662d91;
    }

    .pricing-box .button-con button:hover {
        background: #662d91;
        color: #fff;
    }

    .pricing-box .button-con button:first-child {
        background: #662d91;
        color: #fff;
    }

    .pricing-box .button-con button:first-child:hover {
        background: #f3eef6;
        color: #662d91;
    }

    .pricing-box .icon i {
        color: #662d91;
        font-size: 37px;
    }

    .pricing-box h4,
    .pricing-box h5 {
        font-family: 'Poppins', sans-serif;
        margin: 20px 0;
        font-size: 20px;
    }

    .pricing-box h4 span {
        display: inline-block;
        background: #f3eef6;
        padding: 9px 15px;
        border-radius: 10px;
        margin: 0 0 0 13px;
        color: #662d91;
        font-size: 14px;
        float: right;
    }

    .pricing-box h5 {
        font-size: 33px;
        color: #662d91;
        margin: 0 0;
    }

    .pricing-box h6 span {
        display: inline-block;
        background: #f3eef6;
        padding: 9px 22px;
        border-radius: 10px;
        margin: 10px 0;
        color: #662d91;
        font-size: 14px;
    }

    .pricing-box .list {
        text-align: left;
    }

    .pricing-box .list ul li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 10px;
        list-style: none;
    }

    .pricing-box .list ul li ul {
        margin: 10px 0;
    }

    .pricing-box p {
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .pricing-box .list ul li:before {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f00c";
        width: 15px;
        height: 15px;
        border-radius: 20px;
        background: #662d91;
        color: #fff;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 11px;
        text-align: center;
        line-height: 15px;
    }

    .pricing-box .list ul.sub li:before {
        background: #8b9197 !important;
    }

    .pricing-box .button-con {
        margin-top: 30px;
    }

    .pricing-box .button-con button {
        background: #f3eef6;
        border: 1px solid #f3eef6;
        width: 100%;
        padding: 10px;
        border-radius: 23px;
        color: #662d91;
        margin-top: 13px;
    }

    .pricing-expand-con {
        text-align: left;
        color: #9aa0a5;
    }

    .more,
    #more_2,
    #more_3,
    #more_4 {
        display: none;
    }

    .pricing-expand-content button span {
        font-size: 47px;
        font-weight: normal;
        position: absolute;
        top: -10px;
        right: 0;
        height: 10px;
    }

    .pricing-expand-content {
        position: relative;
        width: 100%;
        padding-top: 21px;
    }

    .pricing-expand-con p {
        margin-bottom: 8px;
        color: #9aa0a5;
    }

    .expand-content {
        border-top: 1px solid #edeeef;
        width: 100%;
        float: left;
        padding-top: 10px;
        margin: 10px 0 0;
    }

    .pricing-expand-content button {
        position: absolute;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        color: #9aa0a5;

    }

    .pricing-expand-content button:before {
        content: '';
    }

    .pricing-expand-content button:focus {
        border: none;
        outline: none;
        stroke: none;
    }

    .pricing-expand-content button {
        position: absolute;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        padding-right: 20px;
    }
