h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
a,
span {
  font-family: Proxima Nova, Open Sans, Arial, san-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

body.modal-open {
    overflow: hidden !important;
}

.text-grey
{
color:#697282 !important;
}
.swal-modal .swal-text {
  text-align: center;
}

textarea {
  resize: none;
}

.text-alternate-primary {
  color: #773eb1 !important;
}

.bg-alternate-primary {
  background-color: #773eb1 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Core CSS */

.jls-address-preview--hidden,
.jls-manual-address--hidden {
  display: none;
}


.manual-address {
  border: 0;
  padding: 0;
  margin: 0;
}






/* You do not need to include this file, it's only for demo */
.address-lookup__field::placeholder {
  font-size: 18px;
  font-style: italic;
  color: #a4b0be;
}

.address-lookup__manual-link {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10px; */
}

.address-preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.address-preview__content {
  font-size: 14px;
  font-style: italic;
}



/* Custom Google Popout CSS */
.pac-container {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.pac-item {
  padding: 10px;
}

.pac-item:hover {
  background-color: #1e90ff;
  color: rgba(255, 255, 255, .7)
}

.pac-item:hover .pac-item-query {
  color: #fff;
}

.pac-icon-marker {
  display: none;
}

.pac-item:first-child {
  border-top: 0;
}

.pac-logo:after {
  background-color: #f7f7f7;
  padding: 10px;
  height: 40px;
  background-position: calc(100% - 10px);
  border-top: solid 1px rgba(0, 0, 0, .1);
}


.field-icon {
  float: right;
  margin-left: 25px;
  margin-top: -27px;
  position: relative;
  padding-right: 30px;
  z-index: 10;
  cursor: pointer;
}

.bg-cover-primary {
  background-image: linear-gradient(310deg, #7928ca40 0%, #ff0080 100%);
}

.select2-results__options>li {
  font-size: 14px !important;
}

.select2-selection__rendered {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.select2-container .select2-choice,
.select2-result-label {
  font-size: 0.8em;
  height: 41px;
  overflow: auto;
}

.table-responsive>nav {
  float: right;
  padding: 10px;
}

.select2-arrow,
.select2-chosen {
  padding-top: 6px;
}

.bg-gradient-grey {
  background-image: linear-gradient(310deg, #939393 0%, #3A416F 100%);
}

.nav.nav-pills .nav-link.active {
  background: white;
  color: #662D91;
}

span.select2-selection.select2-selection--single {
  height: 38px !important;
  margin-top: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d5c9c9 !important;
  border-radius: 7px;
}

/*Password strength Checker*/

#pwd_strength_wrap {
  background: white;
  border: 1px solid #D5CEC8;
  display: none;
  float: right;
  padding: 20px;
  position: absolute;
  width: fit-content;
  z-index: 100;
}

#pswd_info ul {
  list-style-type: none;
  margin: 5px 0 0;
  padding: 0;
}

#pswd_info ul li {
  background: url(icon_pwd_strength.png) no-repeat left 2px;
  padding: 0 0 0 20px;
}

#pswd_info ul li.valid {
  background-position: left -42px;
  color: green;
}

#passwordStrength {
  display: block;
  height: 5px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.strength0 {
  background: none;
  /* too short */
  width: 0%;
}

.strength1 {
  background: none repeat scroll 0 0 #FF4545;
  /* weak */
  width: 20%;
}

.strength2 {
  background: none repeat scroll 0 0 #FFC824;
  /* good */
  width: 40%;
}

.strength3 {
  background: none repeat scroll 0 0 #6699CC;
  /* strong */
  width: 60%;
}

.strength4 {
  background: none repeat scroll 0 0 #008000;
  /* best */
  width: 100%;
}

#progress-strength {
  height: 20px;
  width: 100%;
  margin-top: 0.6em;
}

#progress-strength-bar-individual {
  width: 0%;
  height: 50%;
  transition: width 500ms linear;
}

#progress-strength-bar-organisation {
  width: 0%;
  height: 50%;
  transition: width 500ms linear;
}

.progress-strength-bar-danger {
  background: #d00;
}

.progress-strength-bar-warning {
  background: #f50;
}

.progress-strength-bar-success {
  background: #080;
}

/* Password strength Checker */

/* Progress Bar */
.progress {
  position: fixed;
  height: 4px;
  display: flex;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  z-index: 9999;
}

.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}

.progress .indeterminate {
  background-color: #26a69a;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

/* add links pointer cursor*/

.link-handle {
  cursor: pointer !important;
}

/* add links pointer cursor*/

/* loader -------START*/

.loadingOverlay {
  display: none;
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffffab;
  pointer-events: none;
}


.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
  z-index: 9999;
}

.loader-star {
  position: absolute;
  top: calc(50% - 12px);
}

/*LOADER-6*/

.loader-6 {
  border: 6px groove #9c27b0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: loader-1-inner 1s ease-out alternate infinite;
  animation: loader-1-inner 1s ease-out alternate infinite;
}

.loader-6 .loader-inner {
  border: 0px inset #cb0c9f;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: border-zoom 1s ease-out alternate infinite;
  animation: border-zoom 1s ease-out alternate infinite;
}

/* ----------------     KEYFRAMES    ----------------- */



@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes loader-2-circles {
  0% {
    -webkit-box-shadow: 0 0 0 #18ffff;
    box-shadow: 0 0 0 #18ffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
    box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
    box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
  }
}

@keyframes loader-2-circles {
  0% {
    -webkit-box-shadow: 0 0 0 #18ffff;
    box-shadow: 0 0 0 #18ffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #e11a2b, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
    box-shadow: 24px -22px #18ffff, 30px -15px 0 -3px #18ffff, 31px 0px #18ffff, 29px 9px 0 -3px #18ffff, 24px 23px #18ffff, 17px 30px 0 -3px #18ffff, 0px 33px #18ffff, -10px 28px 0 -3px #18ffff, -24px 22px #18ffff, -29px 14px 0 -3px #18ffff, -31px -3px #18ffff, -30px -11px 0 -3px #18ffff, -20px -25px #18ffff, -12px -30px 0 -3px #18ffff, 5px -29px #18ffff, 13px -25px 0 -3px #18ffff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
    box-shadow: 25px -22px #18ffff, 15px -22px 0 -3px black, 31px 2px #18ffff, 21px 2px 0 -3px black, 23px 25px #18ffff, 13px 25px 0 -3px black, 0px 33px #18ffff, -10px 33px 0 -3px black, -26px 24px #18ffff, -19px 17px 0 -3px black, -32px 0px #18ffff, -23px 0px 0 -3px black, -25px -23px #18ffff, -16px -23px 0 -3px black, 0px -31px #18ffff, -2px -23px 0 -3px black;
  }
}




@-webkit-keyframes border-zoom {
  0% {
    border-width: 0px;
  }

  100% {
    border-width: 10px;
  }
}

@keyframes border-zoom {
  0% {
    border-width: 0px;
  }

  100% {
    border-width: 10px;
  }
}



/* loader -------END*/

/*Theme Customisation */



@media only screen and (max-width: 600px) {
  .loader {
    left: 40% !important;
  }
}
