@font-face {
  font-family: 'fluent-icons';
  src:  url('../fonts/fluent-icon.eot');
  src:  url('../fonts/fluent-icon.eot') format('embedded-opentype'),
    url('../fonts/fluent-icons.ttf') format('truetype'),
    url('../fonts/fluent-icons.woff') format('woff'),
    url('../fonts/fluent-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fluent-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi_zoom_out:before {
  content: "\e900";
}
.fi_zoom_in:before {
  content: "\e901";
}
.fi_xray:before {
  content: "\e902";
}
.fi_xbox_console:before {
  content: "\e903";
}
.fi_wrench:before {
  content: "\e904";
}
.fi_window_shield:before {
  content: "\e905";
}
.fi_window_new:before {
  content: "\e906";
}
.fi_window_dev_tools:before {
  content: "\e907";
}
.fi_window_arrow_up:before {
  content: "\e908";
}
.fi_window:before {
  content: "\e909";
}
.fi_wifi_warning:before {
  content: "\e90a";
}
.fi_wifi_protected:before {
  content: "\e90b";
}
.fi_wifi_off:before {
  content: "\e90c";
}
.fi_wifi_lock:before {
  content: "\e90d";
}
.fi_wifi_4:before {
  content: "\e90e";
}
.fi_wifi_3:before {
  content: "\e90f";
}
.fi_wifi_2:before {
  content: "\e910";
}
.fi_wifi_1:before {
  content: "\e911";
}
.fi_whiteboard:before {
  content: "\e912";
}
.fi_web_asset:before {
  content: "\e913";
}
.fi_weather_thunderstorm:before {
  content: "\e914";
}
.fi_weather_sunny_low:before {
  content: "\e915";
}
.fi_weather_sunny_high:before {
  content: "\e916";
}
.fi_weather_sunny:before {
  content: "\e917";
}
.fi_weather_squalls:before {
  content: "\e918";
}
.fi_weather_snowflake:before {
  content: "\e919";
}
.fi_weather_snow_shower_night:before {
  content: "\e91a";
}
.fi_weather_snow_shower_day:before {
  content: "\e91b";
}
.fi_weather_snow:before {
  content: "\e91c";
}
.fi_weather_rain_snow:before {
  content: "\e91d";
}
.fi_weather_rain_showers_night:before {
  content: "\e91e";
}
.fi_weather_rain_showers_day:before {
  content: "\e91f";
}
.fi_weather_rain:before {
  content: "\e920";
}
.fi_weather_partly_cloudy_night:before {
  content: "\e921";
}
.fi_weather_partly_cloudy_day:before {
  content: "\e922";
}
.fi_weather_moon_off:before {
  content: "\e923";
}
.fi_weather_moon:before {
  content: "\e924";
}
.fi_weather_haze:before {
  content: "\e925";
}
.fi_weather_hail_night:before {
  content: "\e926";
}
.fi_weather_hail_day:before {
  content: "\e927";
}
.fi_weather_fog:before {
  content: "\e928";
}
.fi_weather_duststorm:before {
  content: "\e929";
}
.fi_weather_drizzle:before {
  content: "\e92a";
}
.fi_weather_cloudy:before {
  content: "\e92b";
}
.fi_weather_blowing_snow:before {
  content: "\e92c";
}
.fi_warning:before {
  content: "\e92d";
}
.fi_wand:before {
  content: "\e92e";
}
.fi_wallpaper:before {
  content: "\e92f";
}
.fi_wallet:before {
  content: "\e930";
}
.fi_walkie_talkie:before {
  content: "\e931";
}
.fi_vote:before {
  content: "\e932";
}
.fi_voicemail:before {
  content: "\e933";
}
.fi_view_desktop_mobile:before {
  content: "\e934";
}
.fi_view_desktop:before {
  content: "\e935";
}
.fi_video_switch:before {
  content: "\e936";
}
.fi_video_security:before {
  content: "\e937";
}
.fi_video_prohibited:before {
  content: "\e938";
}
.fi_video_play_pause:before {
  content: "\e939";
}
.fi_video_person_star_off:before {
  content: "\e93a";
}
.fi_video_person_star:before {
  content: "\e93b";
}
.fi_video_person_sparkle:before {
  content: "\e93c";
}
.fi_video_person_off:before {
  content: "\e93d";
}
.fi_video_person_call:before {
  content: "\e93e";
}
.fi_video_person:before {
  content: "\e93f";
}
.fi_video_off:before {
  content: "\e940";
}
.fi_video_clip:before {
  content: "\e941";
}
.fi_video_background_effect:before {
  content: "\e942";
}
.fi_video_add:before {
  content: "\e943";
}
.fi_video_360:before {
  content: "\e944";
}
.fi_video:before {
  content: "\e945";
}
.fi_vehicle_truck_profile:before {
  content: "\e946";
}
.fi_vehicle_truck:before {
  content: "\e947";
}
.fi_vehicle_subway:before {
  content: "\e948";
}
.fi_vehicle_ship:before {
  content: "\e949";
}
.fi_vehicle_car_collision:before {
  content: "\e94a";
}
.fi_vehicle_car:before {
  content: "\e94b";
}
.fi_vehicle_cab:before {
  content: "\e94c";
}
.fi_vehicle_bus:before {
  content: "\e94d";
}
.fi_vehicle_bicycle:before {
  content: "\e94e";
}
.fi_vault:before {
  content: "\e94f";
}
.fi_usb_stick:before {
  content: "\e950";
}
.fi_usb_port:before {
  content: "\e951";
}
.fi_usb_plug:before {
  content: "\e952";
}
.fi_uninstall_app:before {
  content: "\e953";
}
.fi_umbrella:before {
  content: "\e954";
}
.fi_tv_usb:before {
  content: "\e955";
}
.fi_tv:before {
  content: "\e956";
}
.fi_trophy:before {
  content: "\e957";
}
.fi_transmission:before {
  content: "\e958";
}
.fi_translate:before {
  content: "\e959";
}
.fi_top_speed:before {
  content: "\e95a";
}
.fi_tooltip_quote:before {
  content: "\e95b";
}
.fi_toolbox:before {
  content: "\e95c";
}
.fi_toggle_right:before {
  content: "\e95d";
}
.fi_toggle_left:before {
  content: "\e95e";
}
.fi_timer_off:before {
  content: "\e95f";
}
.fi_timer:before {
  content: "\e960";
}
.fi_timer_10:before {
  content: "\e961";
}
.fi_timer_3:before {
  content: "\e962";
}
.fi_timer_2:before {
  content: "\e963";
}
.fi_timeline:before {
  content: "\e964";
}
.fi_time_picker:before {
  content: "\e965";
}
.fi_time_and_weather:before {
  content: "\e966";
}
.fi_ticket_horizontal:before {
  content: "\e967";
}
.fi_ticket_diagonal:before {
  content: "\e968";
}
.fi_thumb_like:before {
  content: "\e969";
}
.fi_thumb_dislike:before {
  content: "\e96a";
}
.fi_thinking:before {
  content: "\e96b";
}
.fi_textbox_vertical:before {
  content: "\e96c";
}
.fi_textbox_more:before {
  content: "\e96d";
}
.fi_textbox_align_top_rotate_90:before {
  content: "\e96e";
}
.fi_textbox_align_top:before {
  content: "\e96f";
}
.fi_textbox_align_middle_rotate_90:before {
  content: "\e970";
}
.fi_textbox_align_middle:before {
  content: "\e971";
}
.fi_textbox_align_center:before {
  content: "\e972";
}
.fi_textbox_align_bottom_rotate_90:before {
  content: "\e973";
}
.fi_textbox_align_bottom:before {
  content: "\e974";
}
.fi_textbox:before {
  content: "\e975";
}
.fi_text_wrap:before {
  content: "\e976";
}
.fi_text_word_count:before {
  content: "\e977";
}
.fi_text_underline:before {
  content: "\e978";
}
.fi_text_t:before {
  content: "\e979";
}
.fi_text_superscript:before {
  content: "\e97a";
}
.fi_text_subscript:before {
  content: "\e97b";
}
.fi_text_strikethrough_s:before {
  content: "\e97c";
}
.fi_text_strikethrough:before {
  content: "\e97d";
}
.fi_text_sort_descending:before {
  content: "\e97e";
}
.fi_text_sort_ascending:before {
  content: "\e97f";
}
.fi_text_quote:before {
  content: "\e980";
}
.fi_text_proofing_tools_zi:before {
  content: "\e981";
}
.fi_text_proofing_tools_ga_na_da:before {
  content: "\e982";
}
.fi_text_proofing_tools:before {
  content: "\e983";
}
.fi_text_position_top_bottom:before {
  content: "\e984";
}
.fi_text_position_tight:before {
  content: "\e985";
}
.fi_text_position_through:before {
  content: "\e986";
}
.fi_text_position_square:before {
  content: "\e987";
}
.fi_text_position_line:before {
  content: "\e988";
}
.fi_text_position_front:before {
  content: "\e989";
}
.fi_text_position_behind:before {
  content: "\e98a";
}
.fi_text_paragraph_direction:before {
  content: "\e98b";
}
.fi_text_paragraph:before {
  content: "\e98c";
}
.fi_text_number_list_rtl:before {
  content: "\e98d";
}
.fi_text_number_list_ltr:before {
  content: "\e98e";
}
.fi_text_number_format_ga_na_da:before {
  content: "\e98f";
}
.fi_text_number_format:before {
  content: "\e990";
}
.fi_text_more:before {
  content: "\e991";
}
.fi_text_line_spacing:before {
  content: "\e992";
}
.fi_text_italic:before {
  content: "\e993";
}
.fi_text_indent_increase_rtl:before {
  content: "\e994";
}
.fi_text_indent_increase_ltr:before {
  content: "\e995";
}
.fi_text_indent_increase:before {
  content: "\e996";
}
.fi_text_indent_decrease_rtl:before {
  content: "\e997";
}
.fi_text_indent_decrease_ltr:before {
  content: "\e998";
}
.fi_text_indent_decrease:before {
  content: "\e999";
}
.fi_text_header_3:before {
  content: "\e99a";
}
.fi_text_header_2:before {
  content: "\e99b";
}
.fi_text_header_1:before {
  content: "\e99c";
}
.fi_text_hanging:before {
  content: "\e99d";
}
.fi_text_grammar_wand:before {
  content: "\e99e";
}
.fi_text_grammar_settings:before {
  content: "\e99f";
}
.fi_text_grammar_dismiss:before {
  content: "\e9a0";
}
.fi_text_grammar_checkmark:before {
  content: "\e9a1";
}
.fi_text_grammar_arrow_right:before {
  content: "\e9a2";
}
.fi_text_grammar_arrow_left:before {
  content: "\e9a3";
}
.fi_text_footnote_ga_na:before {
  content: "\e9a4";
}
.fi_text_footnote:before {
  content: "\e9a5";
}
.fi_text_font_size:before {
  content: "\e9a6";
}
.fi_text_font:before {
  content: "\e9a7";
}
.fi_text_first_line:before {
  content: "\e9a8";
}
.fi_text_field:before {
  content: "\e9a9";
}
.fi_text_expand:before {
  content: "\e9aa";
}
.fi_text_effects_ga:before {
  content: "\e9ab";
}
.fi_text_effects:before {
  content: "\e9ac";
}
.fi_text_edit_style_ga:before {
  content: "\e9ad";
}
.fi_text_edit_style:before {
  content: "\e9ae";
}
.fi_text_direction_vertical:before {
  content: "\e9af";
}
.fi_text_direction_rotate_270_right:before {
  content: "\e9b0";
}
.fi_text_direction_rotate_270_ltr:before {
  content: "\e9b1";
}
.fi_text_direction_rotate_90_rtl:before {
  content: "\e9b2";
}
.fi_text_direction_rotate_90_right:before {
  content: "\e9b3";
}
.fi_text_direction_rotate_90_ltr:before {
  content: "\e9b4";
}
.fi_text_direction_rotate_90_left:before {
  content: "\e9b5";
}
.fi_text_direction_horizontal_rtl:before {
  content: "\e9b6";
}
.fi_text_direction_horizontal_right:before {
  content: "\e9b7";
}
.fi_text_direction_horizontal_ltr:before {
  content: "\e9b8";
}
.fi_text_direction_horizontal_left:before {
  content: "\e9b9";
}
.fi_text_description:before {
  content: "\e9ba";
}
.fi_text_continuous:before {
  content: "\e9bb";
}
.fi_text_column_two_right:before {
  content: "\e9bc";
}
.fi_text_column_two_left:before {
  content: "\e9bd";
}
.fi_text_column_two:before {
  content: "\e9be";
}
.fi_text_column_three:before {
  content: "\e9bf";
}
.fi_text_column_one_wide:before {
  content: "\e9c0";
}
.fi_text_column_one_narrow:before {
  content: "\e9c1";
}
.fi_text_column_one:before {
  content: "\e9c2";
}
.fi_text_color_ga:before {
  content: "\e9c3";
}
.fi_text_color_accent:before {
  content: "\e9c4";
}
.fi_text_color:before {
  content: "\e9c5";
}
.fi_text_collapse:before {
  content: "\e9c6";
}
.fi_text_clear_formatting_ga:before {
  content: "\e9c7";
}
.fi_text_clear_formatting:before {
  content: "\e9c8";
}
.fi_text_change_case:before {
  content: "\e9c9";
}
.fi_text_case_uppercase:before {
  content: "\e9ca";
}
.fi_text_case_title:before {
  content: "\e9cb";
}
.fi_text_case_lowercase:before {
  content: "\e9cc";
}
.fi_text_bullet_list_tree:before {
  content: "\e9cd";
}
.fi_text_bullet_list_square_warning:before {
  content: "\e9ce";
}
.fi_text_bullet_list_square_edit:before {
  content: "\e9cf";
}
.fi_text_bullet_list_square:before {
  content: "\e9d0";
}
.fi_text_bullet_list_rtl:before {
  content: "\e9d1";
}
.fi_text_bullet_list_ltr:before {
  content: "\e9d2";
}
.fi_text_bullet_list_add:before {
  content: "\e9d3";
}
.fi_text_bold:before {
  content: "\e9d4";
}
.fi_text_align_right_rotate_270:before {
  content: "\e9d5";
}
.fi_text_align_right:before {
  content: "\e9d6";
}
.fi_text_align_left_rotate_270:before {
  content: "\e9d7";
}
.fi_text_align_left:before {
  content: "\e9d8";
}
.fi_text_align_justify_rotate_90:before {
  content: "\e9d9";
}
.fi_text_align_justify_low_rotate_90:before {
  content: "\e9da";
}
.fi_text_align_justify_low:before {
  content: "\e9db";
}
.fi_text_align_justify:before {
  content: "\e9dc";
}
.fi_text_align_distributed_vertical:before {
  content: "\e9dd";
}
.fi_text_align_distributed_evenly:before {
  content: "\e9de";
}
.fi_text_align_distributed:before {
  content: "\e9df";
}
.fi_text_align_center_rotate_270:before {
  content: "\e9e0";
}
.fi_text_align_center:before {
  content: "\e9e1";
}
.fi_text_add_t:before {
  content: "\e9e2";
}
.fi_text_add_space_before:before {
  content: "\e9e3";
}
.fi_text_add_space_after:before {
  content: "\e9e4";
}
.fi_text_add:before {
  content: "\e9e5";
}
.fi_text:before {
  content: "\e9e6";
}
.fi_tetris_app:before {
  content: "\e9e7";
}
.fi_tent:before {
  content: "\e9e8";
}
.fi_temperature:before {
  content: "\e9e9";
}
.fi_teddy:before {
  content: "\e9ea";
}
.fi_tasks_app:before {
  content: "\e9eb";
}
.fi_task_list_square_rtl:before {
  content: "\e9ec";
}
.fi_task_list_square_ltr:before {
  content: "\e9ed";
}
.fi_task_list_square_add:before {
  content: "\e9ee";
}
.fi_task_list_rtl:before {
  content: "\e9ef";
}
.fi_task_list_ltr:before {
  content: "\e9f0";
}
.fi_task_list_add:before {
  content: "\e9f1";
}
.fi_target_edit:before {
  content: "\e9f2";
}
.fi_target_arrow:before {
  content: "\e9f3";
}
.fi_target:before {
  content: "\e9f4";
}
.fi_tap_single:before {
  content: "\e9f5";
}
.fi_tap_double:before {
  content: "\e9f6";
}
.fi_tag_question_mark:before {
  content: "\e9f7";
}
.fi_tag_lock_accent:before {
  content: "\e9f8";
}
.fi_tag_lock:before {
  content: "\e9f9";
}
.fi_tag_dismiss:before {
  content: "\e9fa";
}
.fi_tag:before {
  content: "\e9fb";
}
.fi_tabs:before {
  content: "\e9fc";
}
.fi_tablet_speaker:before {
  content: "\e9fd";
}
.fi_tablet:before {
  content: "\e9fe";
}
.fi_table_switch:before {
  content: "\e9ff";
}
.fi_table_stack_right:before {
  content: "\ea00";
}
.fi_table_stack_left:before {
  content: "\ea01";
}
.fi_table_stack_below:before {
  content: "\ea02";
}
.fi_table_stack_above:before {
  content: "\ea03";
}
.fi_table_simple:before {
  content: "\ea04";
}
.fi_table_settings:before {
  content: "\ea05";
}
.fi_table_resize_row:before {
  content: "\ea06";
}
.fi_table_resize_column:before {
  content: "\ea07";
}
.fi_table_move_right:before {
  content: "\ea08";
}
.fi_table_move_left:before {
  content: "\ea09";
}
.fi_table_move_below:before {
  content: "\ea0a";
}
.fi_table_move_above:before {
  content: "\ea0b";
}
.fi_table_insert_row:before {
  content: "\ea0c";
}
.fi_table_insert_column:before {
  content: "\ea0d";
}
.fi_table_freeze_row:before {
  content: "\ea0e";
}
.fi_table_freeze_column_and_row:before {
  content: "\ea0f";
}
.fi_table_freeze_column:before {
  content: "\ea10";
}
.fi_table_edit:before {
  content: "\ea11";
}
.fi_table_dismiss:before {
  content: "\ea12";
}
.fi_table_delete_row:before {
  content: "\ea13";
}
.fi_table_delete_column:before {
  content: "\ea14";
}
.fi_table_cells_split:before {
  content: "\ea15";
}
.fi_table_cells_merge:before {
  content: "\ea16";
}
.fi_table_cell_edit:before {
  content: "\ea17";
}
.fi_table_add:before {
  content: "\ea18";
}
.fi_table:before {
  content: "\ea19";
}
.fi_tab_shield_dismiss:before {
  content: "\ea1a";
}
.fi_tab_prohibited:before {
  content: "\ea1b";
}
.fi_tab_inprivate_account:before {
  content: "\ea1c";
}
.fi_tab_in_private:before {
  content: "\ea1d";
}
.fi_tab_desktop_multiple_bottom:before {
  content: "\ea1e";
}
.fi_tab_desktop_image:before {
  content: "\ea1f";
}
.fi_tab_desktop_bottom:before {
  content: "\ea20";
}
.fi_tab_desktop_arrow_clockwise:before {
  content: "\ea21";
}
.fi_tab_arrow_left:before {
  content: "\ea22";
}
.fi_tab_add:before {
  content: "\ea23";
}
.fi_tab:before {
  content: "\ea24";
}
.fi_system:before {
  content: "\ea25";
}
.fi_syringe:before {
  content: "\ea26";
}
.fi_symbols:before {
  content: "\ea27";
}
.fi_swipe_up:before {
  content: "\ea28";
}
.fi_swipe_right:before {
  content: "\ea29";
}
.fi_swipe_down:before {
  content: "\ea2a";
}
.fi_surface_hub:before {
  content: "\ea2b";
}
.fi_surface_earbuds:before {
  content: "\ea2c";
}
.fi_subtract_square:before {
  content: "\ea2d";
}
.fi_subtract_circle:before {
  content: "\ea2e";
}
.fi_subtract:before {
  content: "\ea2f";
}
.fi_sub_grid:before {
  content: "\ea30";
}
.fi_style_guide:before {
  content: "\ea31";
}
.fi_strikethrough_ga_na:before {
  content: "\ea32";
}
.fi_stream:before {
  content: "\ea33";
}
.fi_store_microsoft:before {
  content: "\ea34";
}
.fi_storage:before {
  content: "\ea35";
}
.fi_stop:before {
  content: "\ea36";
}
.fi_sticker_add:before {
  content: "\ea37";
}
.fi_sticker:before {
  content: "\ea38";
}
.fi_stethoscope:before {
  content: "\ea39";
}
.fi_steps:before {
  content: "\ea3a";
}
.fi_status:before {
  content: "\ea3b";
}
.fi_star_three_quarter:before {
  content: "\ea3c";
}
.fi_star_settings:before {
  content: "\ea3d";
}
.fi_star_prohibited:before {
  content: "\ea3e";
}
.fi_star_one_quarter:before {
  content: "\ea3f";
}
.fi_star_off:before {
  content: "\ea40";
}
.fi_star_line_horizontal_3:before {
  content: "\ea41";
}
.fi_star_half:before {
  content: "\ea42";
}
.fi_star_emphasis:before {
  content: "\ea43";
}
.fi_star_edit:before {
  content: "\ea44";
}
.fi_star_arrow_right_start:before {
  content: "\ea45";
}
.fi_star_arrow_right_end:before {
  content: "\ea46";
}
.fi_star_add:before {
  content: "\ea47";
}
.fi_star:before {
  content: "\ea48";
}
.fi_stack_star:before {
  content: "\ea49";
}
.fi_stack:before {
  content: "\ea4a";
}
.fi_square_multiple:before {
  content: "\ea4b";
}
.fi_square_arrow_forward:before {
  content: "\ea4c";
}
.fi_sport_soccer:before {
  content: "\ea4d";
}
.fi_sport_hockey:before {
  content: "\ea4e";
}
.fi_sport_basketball:before {
  content: "\ea4f";
}
.fi_sport_baseball:before {
  content: "\ea50";
}
.fi_sport_american_football:before {
  content: "\ea51";
}
.fi_sport:before {
  content: "\ea52";
}
.fi_split_vertical:before {
  content: "\ea53";
}
.fi_split_horizontal:before {
  content: "\ea54";
}
.fi_speaker_usb:before {
  content: "\ea55";
}
.fi_speaker_settings:before {
  content: "\ea56";
}
.fi_speaker_off:before {
  content: "\ea57";
}
.fi_speaker_mute:before {
  content: "\ea58";
}
.fi_speaker_edit:before {
  content: "\ea59";
}
.fi_speaker_bluetooth:before {
  content: "\ea5a";
}
.fi_speaker_2:before {
  content: "\ea5b";
}
.fi_speaker_1:before {
  content: "\ea5c";
}
.fi_speaker_0:before {
  content: "\ea5d";
}
.fi_sparkle:before {
  content: "\ea5e";
}
.fi_spacebar:before {
  content: "\ea5f";
}
.fi_sound_source:before {
  content: "\ea60";
}
.fi_snooze:before {
  content: "\ea61";
}
.fi_smartwatch_dot:before {
  content: "\ea62";
}
.fi_smartwatch:before {
  content: "\ea63";
}
.fi_slide_transition:before {
  content: "\ea64";
}
.fi_slide_text:before {
  content: "\ea65";
}
.fi_slide_size:before {
  content: "\ea66";
}
.fi_slide_settings:before {
  content: "\ea67";
}
.fi_slide_search:before {
  content: "\ea68";
}
.fi_slide_multiple_search:before {
  content: "\ea69";
}
.fi_slide_multiple_arrow_right:before {
  content: "\ea6a";
}
.fi_slide_multiple:before {
  content: "\ea6b";
}
.fi_slide_microphone:before {
  content: "\ea6c";
}
.fi_slide_layout:before {
  content: "\ea6d";
}
.fi_slide_hide:before {
  content: "\ea6e";
}
.fi_slide_grid:before {
  content: "\ea6f";
}
.fi_slide_eraser:before {
  content: "\ea70";
}
.fi_slide_design:before {
  content: "\ea71";
}
.fi_slide_add:before {
  content: "\ea72";
}
.fi_sleep:before {
  content: "\ea73";
}
.fi_skip_forward_tab:before {
  content: "\ea74";
}
.fi_skip_forward_30:before {
  content: "\ea75";
}
.fi_skip_forward_10:before {
  content: "\ea76";
}
.fi_skip_backward_10:before {
  content: "\ea77";
}
.fi_sim:before {
  content: "\ea78";
}
.fi_signed:before {
  content: "\ea79";
}
.fi_signature:before {
  content: "\ea7a";
}
.fi_sign_out:before {
  content: "\ea7b";
}
.fi_shortpick:before {
  content: "\ea7c";
}
.fi_shopping_bag:before {
  content: "\ea7d";
}
.fi_shifts_team:before {
  content: "\ea7e";
}
.fi_shifts_question_mark:before {
  content: "\ea7f";
}
.fi_shifts_prohibited:before {
  content: "\ea80";
}
.fi_shifts_open:before {
  content: "\ea81";
}
.fi_shifts_day:before {
  content: "\ea82";
}
.fi_shifts_checkmark:before {
  content: "\ea83";
}
.fi_shifts_availability:before {
  content: "\ea84";
}
.fi_shifts_add:before {
  content: "\ea85";
}
.fi_shifts_activity:before {
  content: "\ea86";
}
.fi_shifts_30_minutes:before {
  content: "\ea87";
}
.fi_shifts:before {
  content: "\ea88";
}
.fi_shield_video:before {
  content: "\ea89";
}
.fi_shield_task:before {
  content: "\ea8a";
}
.fi_shield_prohibited:before {
  content: "\ea8b";
}
.fi_shield_keyhole:before {
  content: "\ea8c";
}
.fi_shield_error:before {
  content: "\ea8d";
}
.fi_shield_dismiss:before {
  content: "\ea8e";
}
.fi_shield_checkmark:before {
  content: "\ea8f";
}
.fi_shield_badge:before {
  content: "\ea90";
}
.fi_shield:before {
  content: "\ea91";
}
.fi_share_screen_stop:before {
  content: "\ea92";
}
.fi_share_screen_start:before {
  content: "\ea93";
}
.fi_share_screen_person_overlay_inside:before {
  content: "\ea94";
}
.fi_share_screen_person_overlay:before {
  content: "\ea95";
}
.fi_share_screen_person:before {
  content: "\ea96";
}
.fi_share_ios:before {
  content: "\ea97";
}
.fi_share_close_tray:before {
  content: "\ea98";
}
.fi_share_android:before {
  content: "\ea99";
}
.fi_share:before {
  content: "\ea9a";
}
.fi_shapes:before {
  content: "\ea9b";
}
.fi_shape_union:before {
  content: "\ea9c";
}
.fi_shape_subtract:before {
  content: "\ea9d";
}
.fi_shape_intersect:before {
  content: "\ea9e";
}
.fi_shape_exclude:before {
  content: "\ea9f";
}
.fi_settings:before {
  content: "\eaa0";
}
.fi_set_top_stack:before {
  content: "\eaa1";
}
.fi_service_bell:before {
  content: "\eaa2";
}
.fi_server:before {
  content: "\eaa3";
}
.fi_serial_port:before {
  content: "\eaa4";
}
.fi_send_copy:before {
  content: "\eaa5";
}
.fi_send_clock:before {
  content: "\eaa6";
}
.fi_send:before {
  content: "\eaa7";
}
.fi_select_object:before {
  content: "\eaa8";
}
.fi_select_all_on:before {
  content: "\eaa9";
}
.fi_select_all_off:before {
  content: "\eaaa";
}
.fi_search_visual:before {
  content: "\eaab";
}
.fi_search_square:before {
  content: "\eaac";
}
.fi_search_info:before {
  content: "\eaad";
}
.fi_search:before {
  content: "\eaae";
}
.fi_screenshot:before {
  content: "\eaaf";
}
.fi_scratchpad:before {
  content: "\eab0";
}
.fi_scan_type:before {
  content: "\eab1";
}
.fi_scan_thumb_up_off:before {
  content: "\eab2";
}
.fi_scan_thumb_up:before {
  content: "\eab3";
}
.fi_scan_text:before {
  content: "\eab4";
}
.fi_scan_table:before {
  content: "\eab5";
}
.fi_scan_object:before {
  content: "\eab6";
}
.fi_scan:before {
  content: "\eab7";
}
.fi_scales:before {
  content: "\eab8";
}
.fi_scale_fit:before {
  content: "\eab9";
}
.fi_scale_fill:before {
  content: "\eaba";
}
.fi_savings:before {
  content: "\eabb";
}
.fi_save_edit:before {
  content: "\eabc";
}
.fi_save_copy:before {
  content: "\eabd";
}
.fi_save_arrow_right:before {
  content: "\eabe";
}
.fi_save:before {
  content: "\eabf";
}
.fi_run:before {
  content: "\eac0";
}
.fi_ruler:before {
  content: "\eac1";
}
.fi_rss:before {
  content: "\eac2";
}
.fi_row_triple:before {
  content: "\eac3";
}
.fi_router:before {
  content: "\eac4";
}
.fi_rotate_right:before {
  content: "\eac5";
}
.fi_rotate_left:before {
  content: "\eac6";
}
.fi_rocket:before {
  content: "\eac7";
}
.fi_road_cone:before {
  content: "\eac8";
}
.fi_ribbon_star:before {
  content: "\eac9";
}
.fi_ribbon_add:before {
  content: "\eaca";
}
.fi_ribbon:before {
  content: "\eacb";
}
.fi_rewind:before {
  content: "\eacc";
}
.fi_reward:before {
  content: "\eacd";
}
.fi_resize_video:before {
  content: "\eace";
}
.fi_resize_table:before {
  content: "\eacf";
}
.fi_resize_small:before {
  content: "\ead0";
}
.fi_resize_large:before {
  content: "\ead1";
}
.fi_resize_image:before {
  content: "\ead2";
}
.fi_rename:before {
  content: "\ead3";
}
.fi_rectangle_landscape:before {
  content: "\ead4";
}
.fi_record_stop:before {
  content: "\ead5";
}
.fi_record:before {
  content: "\ead6";
}
.fi_receipt_play:before {
  content: "\ead7";
}
.fi_receipt_money:before {
  content: "\ead8";
}
.fi_receipt_cube:before {
  content: "\ead9";
}
.fi_receipt_bag:before {
  content: "\eada";
}
.fi_receipt_add:before {
  content: "\eadb";
}
.fi_receipt:before {
  content: "\eadc";
}
.fi_real_estate:before {
  content: "\eadd";
}
.fi_reading_mode_mobile:before {
  content: "\eade";
}
.fi_reading_list_add:before {
  content: "\eadf";
}
.fi_reading_list:before {
  content: "\eae0";
}
.fi_read_aloud:before {
  content: "\eae1";
}
.fi_re_order_dots_vertical:before {
  content: "\eae2";
}
.fi_re_order_dots_horizontal:before {
  content: "\eae3";
}
.fi_re_order:before {
  content: "\eae4";
}
.fi_ratio_one_to_one:before {
  content: "\eae5";
}
.fi_rating_mature:before {
  content: "\eae6";
}
.fi_radio_button:before {
  content: "\eae7";
}
.fi_quiz_new:before {
  content: "\eae8";
}
.fi_question_circle:before {
  content: "\eae9";
}
.fi_question:before {
  content: "\eaea";
}
.fi_qr_code:before {
  content: "\eaeb";
}
.fi_puzzle_piece:before {
  content: "\eaec";
}
.fi_puzzle_cube:before {
  content: "\eaed";
}
.fi_pulse_square:before {
  content: "\eaee";
}
.fi_pulse:before {
  content: "\eaef";
}
.fi_protocol_handler:before {
  content: "\eaf0";
}
.fi_projection_screen_dismiss:before {
  content: "\eaf1";
}
.fi_projection_screen:before {
  content: "\eaf2";
}
.fi_prohibited_multiple:before {
  content: "\eaf3";
}
.fi_prohibited:before {
  content: "\eaf4";
}
.fi_production_checkmark:before {
  content: "\eaf5";
}
.fi_production:before {
  content: "\eaf6";
}
.fi_print_add:before {
  content: "\eaf7";
}
.fi_print:before {
  content: "\eaf8";
}
.fi_previous:before {
  content: "\eaf9";
}
.fi_preview_link:before {
  content: "\eafa";
}
.fi_presenter_off:before {
  content: "\eafb";
}
.fi_presenter:before {
  content: "\eafc";
}
.fi_premium_person:before {
  content: "\eafd";
}
.fi_premium:before {
  content: "\eafe";
}
.fi_predictions:before {
  content: "\eaff";
}
.fi_power:before {
  content: "\eb00";
}
.fi_position_to_front:before {
  content: "\eb01";
}
.fi_position_to_back:before {
  content: "\eb02";
}
.fi_position_forward:before {
  content: "\eb03";
}
.fi_position_backward:before {
  content: "\eb04";
}
.fi_port_usb_c:before {
  content: "\eb05";
}
.fi_port_usb_a:before {
  content: "\eb06";
}
.fi_port_micro_usb:before {
  content: "\eb07";
}
.fi_port_hdmi:before {
  content: "\eb08";
}
.fi_poll:before {
  content: "\eb09";
}
.fi_point_scan:before {
  content: "\eb0a";
}
.fi_plug_disconnected:before {
  content: "\eb0b";
}
.fi_play_circle:before {
  content: "\eb0c";
}
.fi_play:before {
  content: "\eb0d";
}
.fi_pivot:before {
  content: "\eb0e";
}
.fi_pin_off:before {
  content: "\eb0f";
}
.fi_pin:before {
  content: "\eb10";
}
.fi_pill:before {
  content: "\eb11";
}
.fi_picture_in_picture:before {
  content: "\eb12";
}
.fi_pi:before {
  content: "\eb13";
}
.fi_photo_filter:before {
  content: "\eb14";
}
.fi_phone_vibrate:before {
  content: "\eb15";
}
.fi_phone_vertical_scroll:before {
  content: "\eb16";
}
.fi_phone_update:before {
  content: "\eb17";
}
.fi_phone_tablet:before {
  content: "\eb18";
}
.fi_phone_status_bar:before {
  content: "\eb19";
}
.fi_phone_speaker:before {
  content: "\eb1a";
}
.fi_phone_span_out:before {
  content: "\eb1b";
}
.fi_phone_span_in:before {
  content: "\eb1c";
}
.fi_phone_shake:before {
  content: "\eb1d";
}
.fi_phone_screen_time:before {
  content: "\eb1e";
}
.fi_phone_pagination:before {
  content: "\eb1f";
}
.fi_phone_page_header:before {
  content: "\eb20";
}
.fi_phone_lock:before {
  content: "\eb21";
}
.fi_phone_link_setup:before {
  content: "\eb22";
}
.fi_phone_laptop:before {
  content: "\eb23";
}
.fi_phone_dismiss:before {
  content: "\eb24";
}
.fi_phone_desktop:before {
  content: "\eb25";
}
.fi_phone_arrow_right:before {
  content: "\eb26";
}
.fi_phone_add:before {
  content: "\eb27";
}
.fi_phone:before {
  content: "\eb28";
}
.fi_person_voice:before {
  content: "\eb29";
}
.fi_person_swap:before {
  content: "\eb2a";
}
.fi_person_support:before {
  content: "\eb2b";
}
.fi_person_question_mark:before {
  content: "\eb2c";
}
.fi_person_prohibited:before {
  content: "\eb2d";
}
.fi_person_pill:before {
  content: "\eb2e";
}
.fi_person_note:before {
  content: "\eb2f";
}
.fi_person_money:before {
  content: "\eb30";
}
.fi_person_mail:before {
  content: "\eb31";
}
.fi_person_lock:before {
  content: "\eb32";
}
.fi_person_feedback:before {
  content: "\eb33";
}
.fi_person_delete:before {
  content: "\eb34";
}
.fi_person_clock:before {
  content: "\eb35";
}
.fi_person_chat:before {
  content: "\eb36";
}
.fi_person_call:before {
  content: "\eb37";
}
.fi_person_board:before {
  content: "\eb38";
}
.fi_person_available:before {
  content: "\eb39";
}
.fi_person_arrow_right:before {
  content: "\eb3a";
}
.fi_person_arrow_left:before {
  content: "\eb3b";
}
.fi_person_add:before {
  content: "\eb3c";
}
.fi_person_accounts:before {
  content: "\eb3d";
}
.fi_person:before {
  content: "\eb3e";
}
.fi_people_team_toolbox:before {
  content: "\eb3f";
}
.fi_people_team_delete:before {
  content: "\eb40";
}
.fi_people_team_add:before {
  content: "\eb41";
}
.fi_people_team:before {
  content: "\eb42";
}
.fi_people_swap:before {
  content: "\eb43";
}
.fi_people_settings:before {
  content: "\eb44";
}
.fi_people_search:before {
  content: "\eb45";
}
.fi_people_money:before {
  content: "\eb46";
}
.fi_people_error:before {
  content: "\eb47";
}
.fi_people_community_add:before {
  content: "\eb48";
}
.fi_people_community:before {
  content: "\eb49";
}
.fi_people_checkmark:before {
  content: "\eb4a";
}
.fi_people_audience:before {
  content: "\eb4b";
}
.fi_people_add:before {
  content: "\eb4c";
}
.fi_people:before {
  content: "\eb4d";
}
.fi_payment:before {
  content: "\eb4e";
}
.fi_pause_circle:before {
  content: "\eb4f";
}
.fi_pause:before {
  content: "\eb50";
}
.fi_patient:before {
  content: "\eb51";
}
.fi_patch:before {
  content: "\eb52";
}
.fi_password:before {
  content: "\eb53";
}
.fi_panel_right_expand:before {
  content: "\eb54";
}
.fi_panel_right_contract:before {
  content: "\eb55";
}
.fi_panel_right:before {
  content: "\eb56";
}
.fi_panel_left:before {
  content: "\eb57";
}
.fi_pane_open:before {
  content: "\eb58";
}
.fi_pane_close:before {
  content: "\eb59";
}
.fi_pair:before {
  content: "\eb5a";
}
.fi_paint_bucket:before {
  content: "\eb5b";
}
.fi_paint_brush_arrow_up:before {
  content: "\eb5c";
}
.fi_paint_brush_arrow_down:before {
  content: "\eb5d";
}
.fi_paint_brush:before {
  content: "\eb5e";
}
.fi_page_fit:before {
  content: "\eb5f";
}
.fi_padding_top:before {
  content: "\eb60";
}
.fi_padding_right:before {
  content: "\eb61";
}
.fi_padding_left:before {
  content: "\eb62";
}
.fi_padding_down:before {
  content: "\eb63";
}
.fi_orientation:before {
  content: "\eb64";
}
.fi_organization:before {
  content: "\eb65";
}
.fi_options:before {
  content: "\eb66";
}
.fi_open_off:before {
  content: "\eb67";
}
.fi_open_folder:before {
  content: "\eb68";
}
.fi_open:before {
  content: "\eb69";
}
.fi_office_apps:before {
  content: "\eb6a";
}
.fi_number_symbol_square:before {
  content: "\eb6b";
}
.fi_number_symbol_dismiss:before {
  content: "\eb6c";
}
.fi_number_symbol:before {
  content: "\eb6d";
}
.fi_number_row:before {
  content: "\eb6e";
}
.fi_notepad_person:before {
  content: "\eb6f";
}
.fi_notepad:before {
  content: "\eb70";
}
.fi_notebook_sync:before {
  content: "\eb71";
}
.fi_notebook_subsection:before {
  content: "\eb72";
}
.fi_notebook_section_arrow_right:before {
  content: "\eb73";
}
.fi_notebook_section:before {
  content: "\eb74";
}
.fi_notebook_question_mark:before {
  content: "\eb75";
}
.fi_notebook_lightning:before {
  content: "\eb76";
}
.fi_notebook_error:before {
  content: "\eb77";
}
.fi_notebook_add:before {
  content: "\eb78";
}
.fi_notebook:before {
  content: "\eb79";
}
.fi_note_edit:before {
  content: "\eb7a";
}
.fi_note_add:before {
  content: "\eb7b";
}
.fi_note:before {
  content: "\eb7c";
}
.fi_next:before {
  content: "\eb7d";
}
.fi_news:before {
  content: "\eb7e";
}
.fi_new:before {
  content: "\eb7f";
}
.fi_network_check:before {
  content: "\eb80";
}
.fi_navigation_unread:before {
  content: "\eb81";
}
.fi_navigation:before {
  content: "\eb82";
}
.fi_my_location:before {
  content: "\eb83";
}
.fi_music_note_2:before {
  content: "\eb84";
}
.fi_music_note_1:before {
  content: "\eb85";
}
.fi_multiselect:before {
  content: "\eb86";
}
.fi_multiplier_5x:before {
  content: "\eb87";
}
.fi_multiplier_2x:before {
  content: "\eb88";
}
.fi_multiplier_1x:before {
  content: "\eb89";
}
.fi_multiplier_1_8x:before {
  content: "\eb8a";
}
.fi_multiplier_1_5x:before {
  content: "\eb8b";
}
.fi_multiplier_1_2x:before {
  content: "\eb8c";
}
.fi_movies_and_tv:before {
  content: "\eb8d";
}
.fi_more_vertical:before {
  content: "\eb8e";
}
.fi_more_horizontal:before {
  content: "\eb8f";
}
.fi_money_calculator:before {
  content: "\eb90";
}
.fi_money:before {
  content: "\eb91";
}
.fi_molecule:before {
  content: "\eb92";
}
.fi_mobile_optimized:before {
  content: "\eb93";
}
.fi_midi:before {
  content: "\eb94";
}
.fi_microscope:before {
  content: "\eb95";
}
.fi_mic_sparkle:before {
  content: "\eb96";
}
.fi_mic_settings:before {
  content: "\eb97";
}
.fi_mic_prohibited:before {
  content: "\eb98";
}
.fi_mic_on:before {
  content: "\eb99";
}
.fi_mic_off:before {
  content: "\eb9a";
}
.fi_merge:before {
  content: "\eb9b";
}
.fi_mention:before {
  content: "\eb9c";
}
.fi_megaphone_off:before {
  content: "\eb9d";
}
.fi_megaphone:before {
  content: "\eb9e";
}
.fi_meet_now:before {
  content: "\eb9f";
}
.fi_maximize:before {
  content: "\eba0";
}
.fi_math_formula:before {
  content: "\eba1";
}
.fi_math_format_professional:before {
  content: "\eba2";
}
.fi_math_format_linear:before {
  content: "\eba3";
}
.fi_match_app_layout:before {
  content: "\eba4";
}
.fi_map_drive:before {
  content: "\eba5";
}
.fi_map:before {
  content: "\eba6";
}
.fi_mail_unread:before {
  content: "\eba7";
}
.fi_mail_template:before {
  content: "\eba8";
}
.fi_mail_read:before {
  content: "\eba9";
}
.fi_mail_prohibited:before {
  content: "\ebaa";
}
.fi_mail_off:before {
  content: "\ebab";
}
.fi_mail_multiple:before {
  content: "\ebac";
}
.fi_mail_link:before {
  content: "\ebad";
}
.fi_mail_inbox_dismiss:before {
  content: "\ebae";
}
.fi_mail_inbox_checkmark:before {
  content: "\ebaf";
}
.fi_mail_inbox_arrow_up:before {
  content: "\ebb0";
}
.fi_mail_inbox_arrow_right:before {
  content: "\ebb1";
}
.fi_mail_inbox_all:before {
  content: "\ebb2";
}
.fi_mail_inbox_add:before {
  content: "\ebb3";
}
.fi_mail_inbox:before {
  content: "\ebb4";
}
.fi_mail_error:before {
  content: "\ebb5";
}
.fi_mail_dismiss:before {
  content: "\ebb6";
}
.fi_mail_copy:before {
  content: "\ebb7";
}
.fi_mail_clock:before {
  content: "\ebb8";
}
.fi_mail_arrow_up:before {
  content: "\ebb9";
}
.fi_mail_all:before {
  content: "\ebba";
}
.fi_mail_alert:before {
  content: "\ebbb";
}
.fi_mail_add:before {
  content: "\ebbc";
}
.fi_mail:before {
  content: "\ebbd";
}
.fi_luggage:before {
  content: "\ebbe";
}
.fi_lottery:before {
  content: "\ebbf";
}
.fi_lock_shield:before {
  content: "\ebc0";
}
.fi_lock_open:before {
  content: "\ebc1";
}
.fi_lock_multiple:before {
  content: "\ebc2";
}
.fi_lock_closed:before {
  content: "\ebc3";
}
.fi_location_off:before {
  content: "\ebc4";
}
.fi_location_live:before {
  content: "\ebc5";
}
.fi_location_dismiss:before {
  content: "\ebc6";
}
.fi_location:before {
  content: "\ebc7";
}
.fi_local_language_zi:before {
  content: "\ebc8";
}
.fi_local_language:before {
  content: "\ebc9";
}
.fi_live_off:before {
  content: "\ebca";
}
.fi_live:before {
  content: "\ebcb";
}
.fi_list:before {
  content: "\ebcc";
}
.fi_link_square:before {
  content: "\ebcd";
}
.fi_link_edit:before {
  content: "\ebce";
}
.fi_link_dismiss:before {
  content: "\ebcf";
}
.fi_link:before {
  content: "\ebd0";
}
.fi_line_style:before {
  content: "\ebd1";
}
.fi_likert:before {
  content: "\ebd2";
}
.fi_lightbulb_filament:before {
  content: "\ebd3";
}
.fi_lightbulb_circle:before {
  content: "\ebd4";
}
.fi_lightbulb:before {
  content: "\ebd5";
}
.fi_library:before {
  content: "\ebd6";
}
.fi_learning_app:before {
  content: "\ebd7";
}
.fi_leaf_two:before {
  content: "\ebd8";
}
.fi_leaf_three:before {
  content: "\ebd9";
}
.fi_leaf_one:before {
  content: "\ebda";
}
.fi_layer:before {
  content: "\ebdb";
}
.fi_launcher_settings:before {
  content: "\ebdc";
}
.fi_lasso:before {
  content: "\ebdd";
}
.fi_laptop:before {
  content: "\ebde";
}
.fi_keyboard_tab:before {
  content: "\ebdf";
}
.fi_keyboard_shift_uppercase:before {
  content: "\ebe0";
}
.fi_keyboard_shift:before {
  content: "\ebe1";
}
.fi_keyboard_layout_split:before {
  content: "\ebe2";
}
.fi_keyboard_layout_resize:before {
  content: "\ebe3";
}
.fi_keyboard_layout_one_handed_left:before {
  content: "\ebe4";
}
.fi_keyboard_layout_float:before {
  content: "\ebe5";
}
.fi_keyboard_dock:before {
  content: "\ebe6";
}
.fi_keyboard_123:before {
  content: "\ebe7";
}
.fi_keyboard:before {
  content: "\ebe8";
}
.fi_key:before {
  content: "\ebe9";
}
.fi_javascript:before {
  content: "\ebea";
}
.fi_iot:before {
  content: "\ebeb";
}
.fi_ios_arrow_rtl:before {
  content: "\ebec";
}
.fi_ios_arrow_right:before {
  content: "\ebed";
}
.fi_ios_arrow_ltr:before {
  content: "\ebee";
}
.fi_ios_arrow_left:before {
  content: "\ebef";
}
.fi_inprivate_account:before {
  content: "\ebf0";
}
.fi_inking_tool_accent:before {
  content: "\ebf1";
}
.fi_inking_tool:before {
  content: "\ebf2";
}
.fi_ink_stroke:before {
  content: "\ebf3";
}
.fi_info:before {
  content: "\ebf4";
}
.fi_incognito:before {
  content: "\ebf5";
}
.fi_important:before {
  content: "\ebf6";
}
.fi_immersive_reader:before {
  content: "\ebf7";
}
.fi_image_shadow:before {
  content: "\ebf8";
}
.fi_image_search:before {
  content: "\ebf9";
}
.fi_image_reflection:before {
  content: "\ebfa";
}
.fi_image_prohibited:before {
  content: "\ebfb";
}
.fi_image_off:before {
  content: "\ebfc";
}
.fi_image_multiple:before {
  content: "\ebfd";
}
.fi_image_globe:before {
  content: "\ebfe";
}
.fi_image_edit:before {
  content: "\ebff";
}
.fi_image_copy:before {
  content: "\ec00";
}
.fi_image_arrow_forward:before {
  content: "\ec01";
}
.fi_image_arrow_counterclockwise:before {
  content: "\ec02";
}
.fi_image_arrow_back:before {
  content: "\ec03";
}
.fi_image_alt_text:before {
  content: "\ec04";
}
.fi_image_add:before {
  content: "\ec05";
}
.fi_image:before {
  content: "\ec06";
}
.fi_icons:before {
  content: "\ec07";
}
.fi_home_person:before {
  content: "\ec08";
}
.fi_home_checkmark:before {
  content: "\ec09";
}
.fi_home_add:before {
  content: "\ec0a";
}
.fi_home:before {
  content: "\ec0b";
}
.fi_history:before {
  content: "\ec0c";
}
.fi_highlight_accent:before {
  content: "\ec0d";
}
.fi_highlight:before {
  content: "\ec0e";
}
.fi_heart_pulse:before {
  content: "\ec0f";
}
.fi_heart:before {
  content: "\ec10";
}
.fi_headset_vr:before {
  content: "\ec11";
}
.fi_headset_add:before {
  content: "\ec12";
}
.fi_headset:before {
  content: "\ec13";
}
.fi_headphones_sound_wave:before {
  content: "\ec14";
}
.fi_headphones:before {
  content: "\ec15";
}
.fi_hdr:before {
  content: "\ec16";
}
.fi_hd:before {
  content: "\ec17";
}
.fi_hat_graduation:before {
  content: "\ec18";
}
.fi_handshake:before {
  content: "\ec19";
}
.fi_hand_right:before {
  content: "\ec1a";
}
.fi_hand_left:before {
  content: "\ec1b";
}
.fi_hand_draw:before {
  content: "\ec1c";
}
.fi_guitar:before {
  content: "\ec1d";
}
.fi_guest_add:before {
  content: "\ec1e";
}
.fi_guest:before {
  content: "\ec1f";
}
.fi_guardian:before {
  content: "\ec20";
}
.fi_group_return:before {
  content: "\ec21";
}
.fi_group_list:before {
  content: "\ec22";
}
.fi_group_dismiss:before {
  content: "\ec23";
}
.fi_group:before {
  content: "\ec24";
}
.fi_grid_dots:before {
  content: "\ec25";
}
.fi_grid:before {
  content: "\ec26";
}
.fi_globe_video:before {
  content: "\ec27";
}
.fi_globe_surface:before {
  content: "\ec28";
}
.fi_globe_shield:before {
  content: "\ec29";
}
.fi_globe_search:before {
  content: "\ec2a";
}
.fi_globe_person:before {
  content: "\ec2b";
}
.fi_globe_location:before {
  content: "\ec2c";
}
.fi_globe_desktop:before {
  content: "\ec2d";
}
.fi_globe_clock:before {
  content: "\ec2e";
}
.fi_globe_add:before {
  content: "\ec2f";
}
.fi_globe:before {
  content: "\ec30";
}
.fi_glasses_off:before {
  content: "\ec31";
}
.fi_glasses:before {
  content: "\ec32";
}
.fi_glance:before {
  content: "\ec33";
}
.fi_gift_card_add:before {
  content: "\ec34";
}
.fi_gift:before {
  content: "\ec35";
}
.fi_gif:before {
  content: "\ec36";
}
.fi_gesture:before {
  content: "\ec37";
}
.fi_gavel:before {
  content: "\ec38";
}
.fi_gauge:before {
  content: "\ec39";
}
.fi_gas_pump:before {
  content: "\ec3a";
}
.fi_gas:before {
  content: "\ec3b";
}
.fi_gantt_chart:before {
  content: "\ec3c";
}
.fi_games:before {
  content: "\ec3d";
}
.fi_full_screen_minimize:before {
  content: "\ec3e";
}
.fi_full_screen_maximize:before {
  content: "\ec3f";
}
.fi_fps_960:before {
  content: "\ec40";
}
.fi_fps_240:before {
  content: "\ec41";
}
.fi_fps_240_sm:before {
  content: "\ec42";
}
.fi_fps_120:before {
  content: "\ec43";
}
.fi_fps_60:before {
  content: "\ec44";
}
.fi_fps_30:before {
  content: "\ec45";
}
.fi_form_new:before {
  content: "\ec46";
}
.fi_food_toast:before {
  content: "\ec47";
}
.fi_food_pizza:before {
  content: "\ec48";
}
.fi_food_egg:before {
  content: "\ec49";
}
.fi_food_cake:before {
  content: "\ec4a";
}
.fi_food:before {
  content: "\ec4b";
}
.fi_font_space_tracking_out:before {
  content: "\ec4c";
}
.fi_font_space_tracking_in:before {
  content: "\ec4d";
}
.fi_font_increase:before {
  content: "\ec4e";
}
.fi_font_decrease:before {
  content: "\ec4f";
}
.fi_folder_zip:before {
  content: "\ec50";
}
.fi_folder_swap:before {
  content: "\ec51";
}
.fi_folder_prohibited:before {
  content: "\ec52";
}
.fi_folder_open:before {
  content: "\ec53";
}
.fi_folder_link:before {
  content: "\ec54";
}
.fi_folder_arrow_up:before {
  content: "\ec55";
}
.fi_folder_arrow_right:before {
  content: "\ec56";
}
.fi_folder_add:before {
  content: "\ec57";
}
.fi_folder:before {
  content: "\ec58";
}
.fi_fluid:before {
  content: "\ec59";
}
.fi_fluent:before {
  content: "\ec5a";
}
.fi_flip_vertical:before {
  content: "\ec5b";
}
.fi_flip_horizontal:before {
  content: "\ec5c";
}
.fi_flashlight_off:before {
  content: "\ec5d";
}
.fi_flashlight:before {
  content: "\ec5e";
}
.fi_flash_on:before {
  content: "\ec5f";
}
.fi_flash_off:before {
  content: "\ec60";
}
.fi_flash_checkmark:before {
  content: "\ec61";
}
.fi_flash_auto:before {
  content: "\ec62";
}
.uniEC63:before {
  content: "\ec63";
}
.uniEC64:before {
  content: "\ec64";
}
.uniEC65:before {
  content: "\ec65";
}
.uniEC66:before {
  content: "\ec66";
}
.uniEC67:before {
  content: "\ec67";
}
.uniEC68:before {
  content: "\ec68";
}
.uniEC69:before {
  content: "\ec69";
}
.uniEC6A:before {
  content: "\ec6a";
}
.fi_flag_off:before {
  content: "\ec6b";
}
.fi_flag:before {
  content: "\ec6c";
}
.fi_fixed_width:before {
  content: "\ec6d";
}
.fi_fingerprint:before {
  content: "\ec6e";
}
.fi_filter_sync:before {
  content: "\ec6f";
}
.fi_filter_dismiss:before {
  content: "\ec70";
}
.fi_filter:before {
  content: "\ec71";
}
.fi_fast_forward:before {
  content: "\ec72";
}
.fi_fast_acceleration:before {
  content: "\ec73";
}
.fi_f_stop:before {
  content: "\ec74";
}
.fi_eyedropper:before {
  content: "\ec75";
}
.fi_eye_tracking_on:before {
  content: "\ec76";
}
.fi_eye_tracking_off:before {
  content: "\ec77";
}
.fi_eye_show:before {
  content: "\ec78";
}
.fi_eye_hide:before {
  content: "\ec79";
}
.fi_extension:before {
  content: "\ec7a";
}
.fi_extended_dock:before {
  content: "\ec7b";
}
.fi_expand_up_right:before {
  content: "\ec7c";
}
.fi_expand_up_left:before {
  content: "\ec7d";
}
.fi_error_circle:before {
  content: "\ec7e";
}
.fi_eraser_tool:before {
  content: "\ec7f";
}
.fi_eraser_small:before {
  content: "\ec80";
}
.fi_eraser_segment:before {
  content: "\ec81";
}
.fi_eraser_medium:before {
  content: "\ec82";
}
.fi_eraser:before {
  content: "\ec83";
}
.fi_equal_off:before {
  content: "\ec84";
}
.fi_engine:before {
  content: "\ec85";
}
.fi_emoji_surprise:before {
  content: "\ec86";
}
.fi_emoji_sad:before {
  content: "\ec87";
}
.fi_emoji_multiple:before {
  content: "\ec88";
}
.fi_emoji_meh:before {
  content: "\ec89";
}
.fi_emoji_laugh:before {
  content: "\ec8a";
}
.fi_emoji_hand:before {
  content: "\ec8b";
}
.fi_emoji_angry:before {
  content: "\ec8c";
}
.fi_emoji_add:before {
  content: "\ec8d";
}
.fi_emoji:before {
  content: "\ec8e";
}
.fi_edit_settings:before {
  content: "\ec8f";
}
.fi_edit_off:before {
  content: "\ec90";
}
.fi_edit:before {
  content: "\ec91";
}
.fi_earth:before {
  content: "\ec92";
}
.fi_dumbbell:before {
  content: "\ec93";
}
.fi_dual_screen_vibrate:before {
  content: "\ec94";
}
.fi_dual_screen_vertical_scroll:before {
  content: "\ec95";
}
.fi_dual_screen_update:before {
  content: "\ec96";
}
.fi_dual_screen_tablet:before {
  content: "\ec97";
}
.fi_dual_screen_status_bar:before {
  content: "\ec98";
}
.fi_dual_screen_speaker:before {
  content: "\ec99";
}
.fi_dual_screen_span:before {
  content: "\ec9a";
}
.fi_dual_screen_settings:before {
  content: "\ec9b";
}
.fi_dual_screen_pagination:before {
  content: "\ec9c";
}
.fi_dual_screen_mirror:before {
  content: "\ec9d";
}
.fi_dual_screen_lock:before {
  content: "\ec9e";
}
.fi_dual_screen_header:before {
  content: "\ec9f";
}
.fi_dual_screen_group:before {
  content: "\eca0";
}
.fi_dual_screen_dismiss:before {
  content: "\eca1";
}
.fi_dual_screen_desktop:before {
  content: "\eca2";
}
.fi_dual_screen_closed_alert:before {
  content: "\eca3";
}
.fi_dual_screen_clock:before {
  content: "\eca4";
}
.fi_dual_screen_arrow_up:before {
  content: "\eca5";
}
.fi_dual_screen_arrow_right:before {
  content: "\eca6";
}
.fi_dual_screen_add:before {
  content: "\eca7";
}
.fi_dual_screen:before {
  content: "\eca8";
}
.fi_drop:before {
  content: "\eca9";
}
.fi_drive_train:before {
  content: "\ecaa";
}
.fi_drink_wine:before {
  content: "\ecab";
}
.fi_drink_to_go:before {
  content: "\ecac";
}
.fi_drink_margarita:before {
  content: "\ecad";
}
.fi_drink_coffee:before {
  content: "\ecae";
}
.fi_drink_beer:before {
  content: "\ecaf";
}
.fi_draw_text:before {
  content: "\ecb0";
}
.fi_draw_shape:before {
  content: "\ecb1";
}
.fi_drag:before {
  content: "\ecb2";
}
.fi_drafts:before {
  content: "\ecb3";
}
.fi_double_swipe_up:before {
  content: "\ecb4";
}
.fi_double_swipe_down:before {
  content: "\ecb5";
}
.fi_door_tag:before {
  content: "\ecb6";
}
.fi_door_arrow_left:before {
  content: "\ecb7";
}
.fi_document_width:before {
  content: "\ecb8";
}
.fi_document_toolbox:before {
  content: "\ecb9";
}
.fi_document_text_link:before {
  content: "\ecba";
}
.fi_document_text:before {
  content: "\ecbb";
}
.fi_document_table:before {
  content: "\ecbc";
}
.fi_document_sync:before {
  content: "\ecbd";
}
.fi_document_split_hint_off:before {
  content: "\ecbe";
}
.fi_document_split_hint:before {
  content: "\ecbf";
}
.fi_document_search:before {
  content: "\ecc0";
}
.fi_document_save:before {
  content: "\ecc1";
}
.fi_document_ribbon:before {
  content: "\ecc2";
}
.fi_document_question_mark:before {
  content: "\ecc3";
}
.fi_document_prohibited:before {
  content: "\ecc4";
}
.fi_document_pill:before {
  content: "\ecc5";
}
.fi_document_percent:before {
  content: "\ecc6";
}
.fi_document_pdf:before {
  content: "\ecc7";
}
.fi_document_page_top_right:before {
  content: "\ecc8";
}
.fi_document_page_top_left:before {
  content: "\ecc9";
}
.fi_document_page_top_center:before {
  content: "\ecca";
}
.fi_document_page_number:before {
  content: "\eccb";
}
.fi_document_page_break:before {
  content: "\eccc";
}
.fi_document_page_bottom_right:before {
  content: "\eccd";
}
.fi_document_page_bottom_left:before {
  content: "\ecce";
}
.fi_document_page_bottom_center:before {
  content: "\eccf";
}
.fi_document_one_page:before {
  content: "\ecd0";
}
.fi_document_multiple_prohibited:before {
  content: "\ecd1";
}
.fi_document_multiple_percent:before {
  content: "\ecd2";
}
.fi_document_multiple:before {
  content: "\ecd3";
}
.fi_document_margins:before {
  content: "\ecd4";
}
.fi_document_link:before {
  content: "\ecd5";
}
.fi_document_landscape_data:before {
  content: "\ecd6";
}
.fi_document_landscape:before {
  content: "\ecd7";
}
.fi_document_javascript:before {
  content: "\ecd8";
}
.fi_document_heart_pulse:before {
  content: "\ecd9";
}
.fi_document_heart:before {
  content: "\ecda";
}
.fi_document_header_remove:before {
  content: "\ecdb";
}
.fi_document_header_footer:before {
  content: "\ecdc";
}
.fi_document_header_dismiss:before {
  content: "\ecdd";
}
.fi_document_header:before {
  content: "\ecde";
}
.fi_document_footer_remove:before {
  content: "\ecdf";
}
.fi_document_footer_dismiss:before {
  content: "\ece0";
}
.fi_document_footer:before {
  content: "\ece1";
}
.fi_document_error:before {
  content: "\ece2";
}
.fi_document_endnote:before {
  content: "\ece3";
}
.fi_document_edit:before {
  content: "\ece4";
}
.fi_document_dismiss:before {
  content: "\ece5";
}
.fi_document_css:before {
  content: "\ece6";
}
.fi_document_copy:before {
  content: "\ece7";
}
.fi_document_chevron_double:before {
  content: "\ece8";
}
.fi_document_checkmark:before {
  content: "\ece9";
}
.fi_document_catch_up:before {
  content: "\ecea";
}
.fi_document_bullet_list_off:before {
  content: "\eceb";
}
.fi_document_bullet_list_clock:before {
  content: "\ecec";
}
.fi_document_bullet_list:before {
  content: "\eced";
}
.fi_document_briefcase:before {
  content: "\ecee";
}
.fi_document_arrow_right:before {
  content: "\ecef";
}
.fi_document_arrow_left:before {
  content: "\ecf0";
}
.fi_document_add:before {
  content: "\ecf1";
}
.fi_document:before {
  content: "\ecf2";
}
.fi_doctor:before {
  content: "\ecf3";
}
.fi_dock_row:before {
  content: "\ecf4";
}
.fi_dock_panel_right:before {
  content: "\ecf5";
}
.fi_dock_panel_left:before {
  content: "\ecf6";
}
.fi_dock:before {
  content: "\ecf7";
}
.fi_divider_tall:before {
  content: "\ecf8";
}
.fi_divider_short:before {
  content: "\ecf9";
}
.fi_diversity:before {
  content: "\ecfa";
}
.fi_dismiss_square:before {
  content: "\ecfb";
}
.fi_dismiss_circle:before {
  content: "\ecfc";
}
.fi_dismiss:before {
  content: "\ecfd";
}
.fi_directions:before {
  content: "\ecfe";
}
.fi_dialpad_off:before {
  content: "\ecff";
}
.fi_dialpad:before {
  content: "\ed00";
}
.fi_diagram:before {
  content: "\ed01";
}
.fi_device_meeting_room_remote:before {
  content: "\ed02";
}
.fi_device_meeting_room:before {
  content: "\ed03";
}
.fi_device_eq:before {
  content: "\ed04";
}
.fi_developer_board:before {
  content: "\ed05";
}
.fi_desktop_speaker_off:before {
  content: "\ed06";
}
.fi_desktop_speaker:before {
  content: "\ed07";
}
.fi_desktop_pulse:before {
  content: "\ed08";
}
.fi_desktop_keyboard:before {
  content: "\ed09";
}
.fi_desktop_arrow_right:before {
  content: "\ed0a";
}
.fi_desktop:before {
  content: "\ed0b";
}
.fi_design_ideas:before {
  content: "\ed0c";
}
.fi_dentist:before {
  content: "\ed0d";
}
.fi_delete_off:before {
  content: "\ed0e";
}
.fi_delete_dismiss:before {
  content: "\ed0f";
}
.fi_delete:before {
  content: "\ed10";
}
.fi_decimal_arrow_right:before {
  content: "\ed11";
}
.fi_decimal_arrow_left:before {
  content: "\ed12";
}
.fi_database_search:before {
  content: "\ed13";
}
.fi_database_link:before {
  content: "\ed14";
}
.fi_database:before {
  content: "\ed15";
}
.fi_data_whisker:before {
  content: "\ed16";
}
.fi_data_waterfall:before {
  content: "\ed17";
}
.fi_data_usage_edit:before {
  content: "\ed18";
}
.fi_data_usage:before {
  content: "\ed19";
}
.fi_data_trending:before {
  content: "\ed1a";
}
.fi_data_treemap:before {
  content: "\ed1b";
}
.fi_data_sunburst:before {
  content: "\ed1c";
}
.fi_data_scatter:before {
  content: "\ed1d";
}
.fi_data_pie:before {
  content: "\ed1e";
}
.fi_data_line:before {
  content: "\ed1f";
}
.fi_data_histogram:before {
  content: "\ed20";
}
.fi_data_funnel:before {
  content: "\ed21";
}
.fi_data_bar_vertical_add:before {
  content: "\ed22";
}
.fi_data_bar_vertical:before {
  content: "\ed23";
}
.fi_data_bar_horizontal:before {
  content: "\ed24";
}
.fi_data_area:before {
  content: "\ed25";
}
.fi_dark_theme:before {
  content: "\ed26";
}
.fi_cut:before {
  content: "\ed27";
}
.fi_cursor_hover_off:before {
  content: "\ed28";
}
.fi_cursor_hover:before {
  content: "\ed29";
}
.fi_cursor_click:before {
  content: "\ed2a";
}
.fi_cursor:before {
  content: "\ed2b";
}
.fi_currency_dollar_rupee:before {
  content: "\ed2c";
}
.fi_currency_dollar_euro:before {
  content: "\ed2d";
}
.fi_cube_sync:before {
  content: "\ed2e";
}
.fi_cube:before {
  content: "\ed2f";
}
.fi_crop_interim_off:before {
  content: "\ed30";
}
.fi_crop_interim:before {
  content: "\ed31";
}
.fi_crop:before {
  content: "\ed32";
}
.fi_credit_card_toolbox:before {
  content: "\ed33";
}
.fi_credit_card_person:before {
  content: "\ed34";
}
.fi_couch:before {
  content: "\ed35";
}
.fi_copy_arrow_right:before {
  content: "\ed36";
}
.fi_copy_add:before {
  content: "\ed37";
}
.fi_copy:before {
  content: "\ed38";
}
.fi_cookies:before {
  content: "\ed39";
}
.fi_convert_to_type:before {
  content: "\ed3a";
}
.fi_convert_to_text:before {
  content: "\ed3b";
}
.fi_convert_to_table:before {
  content: "\ed3c";
}
.fi_convert_range:before {
  content: "\ed3d";
}
.fi_control_button:before {
  content: "\ed3e";
}
.fi_contract_down_left:before {
  content: "\ed3f";
}
.fi_content_settings:before {
  content: "\ed40";
}
.fi_contact_card_group:before {
  content: "\ed41";
}
.fi_contact_card:before {
  content: "\ed42";
}
.fi_connector:before {
  content: "\ed43";
}
.fi_conference_room:before {
  content: "\ed44";
}
.fi_compose:before {
  content: "\ed45";
}
.fi_component_2_double_tap_swipe_up:before {
  content: "\ed46";
}
.fi_component_2_double_tap_swipe_down:before {
  content: "\ed47";
}
.fi_compass_northwest:before {
  content: "\ed48";
}
.fi_communication_person:before {
  content: "\ed49";
}
.fi_communication:before {
  content: "\ed4a";
}
.fi_comment_off:before {
  content: "\ed4b";
}
.fi_comment_note:before {
  content: "\ed4c";
}
.fi_comment_multiple_checkmark:before {
  content: "\ed4d";
}
.fi_comment_multiple:before {
  content: "\ed4e";
}
.fi_comment_mention:before {
  content: "\ed4f";
}
.fi_comment_lightning:before {
  content: "\ed50";
}
.fi_comment_edit:before {
  content: "\ed51";
}
.fi_comment_dismiss:before {
  content: "\ed52";
}
.fi_comment_checkmark:before {
  content: "\ed53";
}
.fi_comment_arrow_right:before {
  content: "\ed54";
}
.fi_comment_arrow_left:before {
  content: "\ed55";
}
.fi_comment_add:before {
  content: "\ed56";
}
.fi_comment:before {
  content: "\ed57";
}
.fi_comma:before {
  content: "\ed58";
}
.fi_column_triple_edit:before {
  content: "\ed59";
}
.fi_column_triple:before {
  content: "\ed5a";
}
.fi_column_edit:before {
  content: "\ed5b";
}
.fi_color_line:before {
  content: "\ed5c";
}
.fi_color_fill:before {
  content: "\ed5d";
}
.fi_color_background:before {
  content: "\ed5e";
}
.fi_color:before {
  content: "\ed5f";
}
.fi_collections_add:before {
  content: "\ed60";
}
.fi_collections:before {
  content: "\ed61";
}
.fi_code:before {
  content: "\ed62";
}
.fi_cloud_words:before {
  content: "\ed63";
}
.fi_cloud_sync_complete:before {
  content: "\ed64";
}
.fi_cloud_sync:before {
  content: "\ed65";
}
.fi_cloud_swap:before {
  content: "\ed66";
}
.fi_cloud_offline:before {
  content: "\ed67";
}
.fi_cloud_off:before {
  content: "\ed68";
}
.fi_cloud_flow:before {
  content: "\ed69";
}
.fi_cloud_download:before {
  content: "\ed6a";
}
.fi_cloud_dismiss:before {
  content: "\ed6b";
}
.fi_cloud_checkmark:before {
  content: "\ed6c";
}
.fi_cloud_backup:before {
  content: "\ed6d";
}
.fi_cloud_arrow_up:before {
  content: "\ed6e";
}
.fi_cloud_arrow_down:before {
  content: "\ed6f";
}
.fi_cloud:before {
  content: "\ed70";
}
.fi_closed_caption_off:before {
  content: "\ed71";
}
.fi_closed_caption:before {
  content: "\ed72";
}
.fi_clock_dismiss:before {
  content: "\ed73";
}
.fi_clock_arrow_download:before {
  content: "\ed74";
}
.fi_clock_alarm:before {
  content: "\ed75";
}
.fi_clock:before {
  content: "\ed76";
}
.fi_clipboard_text_rtl:before {
  content: "\ed77";
}
.fi_clipboard_text_ltr:before {
  content: "\ed78";
}
.fi_clipboard_task_list_rtl:before {
  content: "\ed79";
}
.fi_clipboard_task_list_ltr:before {
  content: "\ed7a";
}
.fi_clipboard_task_add:before {
  content: "\ed7b";
}
.fi_clipboard_task:before {
  content: "\ed7c";
}
.fi_clipboard_settings:before {
  content: "\ed7d";
}
.fi_clipboard_search:before {
  content: "\ed7e";
}
.fi_clipboard_pulse:before {
  content: "\ed7f";
}
.fi_clipboard_paste:before {
  content: "\ed80";
}
.fi_clipboard_more:before {
  content: "\ed81";
}
.fi_clipboard_link:before {
  content: "\ed82";
}
.fi_clipboard_letter:before {
  content: "\ed83";
}
.fi_clipboard_image:before {
  content: "\ed84";
}
.fi_clipboard_heart:before {
  content: "\ed85";
}
.fi_clipboard_error:before {
  content: "\ed86";
}
.fi_clipboard_code:before {
  content: "\ed87";
}
.fi_clipboard_checkmark:before {
  content: "\ed88";
}
.fi_clipboard_arrow_right:before {
  content: "\ed89";
}
.fi_clipboard:before {
  content: "\ed8a";
}
.fi_clear_formatting:before {
  content: "\ed8b";
}
.fi_classification:before {
  content: "\ed8c";
}
.fi_class:before {
  content: "\ed8d";
}
.fi_city:before {
  content: "\ed8e";
}
.fi_circle_small:before {
  content: "\ed8f";
}
.fi_circle_line:before {
  content: "\ed90";
}
.fi_circle_half_fill:before {
  content: "\ed91";
}
.fi_circle_edit:before {
  content: "\ed92";
}
.fi_circle:before {
  content: "\ed93";
}
.fi_chevron_up_down:before {
  content: "\ed94";
}
.fi_chevron_up:before {
  content: "\ed95";
}
.fi_chevron_right:before {
  content: "\ed96";
}
.fi_chevron_left:before {
  content: "\ed97";
}
.fi_chevron_down:before {
  content: "\ed98";
}
.fi_chevron_circle_right:before {
  content: "\ed99";
}
.fi_chevron_circle_down:before {
  content: "\ed9a";
}
.fi_checkmark_square:before {
  content: "\ed9b";
}
.fi_checkmark_lock:before {
  content: "\ed9c";
}
.fi_checkmark_circle:before {
  content: "\ed9d";
}
.fi_checkmark:before {
  content: "\ed9e";
}
.fi_checkbox_warning:before {
  content: "\ed9f";
}
.fi_checkbox_unchecked:before {
  content: "\eda0";
}
.fi_checkbox_person:before {
  content: "\eda1";
}
.fi_checkbox_indeterminate:before {
  content: "\eda2";
}
.fi_checkbox_checked:before {
  content: "\eda3";
}
.fi_checkbox_arrow_right:before {
  content: "\eda4";
}
.fi_checkbox_2:before {
  content: "\eda5";
}
.fi_checkbox_1:before {
  content: "\eda6";
}
.fi_check:before {
  content: "\eda7";
}
.fi_chat_warning:before {
  content: "\eda8";
}
.fi_chat_video:before {
  content: "\eda9";
}
.fi_chat_settings:before {
  content: "\edaa";
}
.fi_chat_off:before {
  content: "\edab";
}
.fi_chat_multiple:before {
  content: "\edac";
}
.fi_chat_help:before {
  content: "\edad";
}
.fi_chat_bubbles_question:before {
  content: "\edae";
}
.fi_chat:before {
  content: "\edaf";
}
.fi_chart_person:before {
  content: "\edb0";
}
.fi_channel_subtract:before {
  content: "\edb1";
}
.fi_channel_share:before {
  content: "\edb2";
}
.fi_channel_dismiss:before {
  content: "\edb3";
}
.fi_channel_arrow_left:before {
  content: "\edb4";
}
.fi_channel_alert:before {
  content: "\edb5";
}
.fi_channel_add:before {
  content: "\edb6";
}
.fi_channel:before {
  content: "\edb7";
}
.fi_certificate:before {
  content: "\edb8";
}
.fi_center_vertical:before {
  content: "\edb9";
}
.fi_center_horizontal:before {
  content: "\edba";
}
.fi_cellular_warning:before {
  content: "\edbb";
}
.fi_cellular_data_unavailable:before {
  content: "\edbc";
}
.fi_cellular_data_cellular_unavailable:before {
  content: "\edbd";
}
.fi_cellular_data_cellular_off:before {
  content: "\edbe";
}
.fi_cellular_data_5:before {
  content: "\edbf";
}
.fi_cellular_data_4:before {
  content: "\edc0";
}
.fi_cellular_data_3:before {
  content: "\edc1";
}
.fi_cellular_data_2:before {
  content: "\edc2";
}
.fi_cellular_data_1:before {
  content: "\edc3";
}
.fi_cellular_5g:before {
  content: "\edc4";
}
.fi_cellular_4g:before {
  content: "\edc5";
}
.fi_cellular_3g:before {
  content: "\edc6";
}
.fi_cast:before {
  content: "\edc7";
}
.fi_cart:before {
  content: "\edc8";
}
.fi_caret_up:before {
  content: "\edc9";
}
.fi_caret_right:before {
  content: "\edca";
}
.fi_caret_left:before {
  content: "\edcb";
}
.fi_caret_down_left:before {
  content: "\edcc";
}
.fi_caret_down:before {
  content: "\edcd";
}
.fi_caret:before {
  content: "\edce";
}
.fi_camera_switch:before {
  content: "\edcf";
}
.fi_camera_off:before {
  content: "\edd0";
}
.fi_camera_dome:before {
  content: "\edd1";
}
.fi_camera_add:before {
  content: "\edd2";
}
.fi_camera:before {
  content: "\edd3";
}
.fi_calligraphy_pen:before {
  content: "\edd4";
}
.fi_call_prohibited:before {
  content: "\edd5";
}
.fi_call_pause:before {
  content: "\edd6";
}
.fi_call_park:before {
  content: "\edd7";
}
.fi_call_outbound:before {
  content: "\edd8";
}
.fi_call_missed:before {
  content: "\edd9";
}
.fi_call_inbound:before {
  content: "\edda";
}
.fi_call_forward:before {
  content: "\eddb";
}
.fi_call_end:before {
  content: "\eddc";
}
.fi_call_dismiss:before {
  content: "\eddd";
}
.fi_call_checkmark:before {
  content: "\edde";
}
.fi_call_add:before {
  content: "\eddf";
}
.fi_call:before {
  content: "\ede0";
}
.fi_calendar_work_week:before {
  content: "\ede1";
}
.fi_calendar_week_start:before {
  content: "\ede2";
}
.fi_calendar_week_numbers:before {
  content: "\ede3";
}
.fi_calendar_today:before {
  content: "\ede4";
}
.fi_calendar_sync:before {
  content: "\ede5";
}
.fi_calendar_star:before {
  content: "\ede6";
}
.fi_calendar_rtl:before {
  content: "\ede7";
}
.fi_calendar_reply:before {
  content: "\ede8";
}
.fi_calendar_question_mark:before {
  content: "\ede9";
}
.fi_calendar_person:before {
  content: "\edea";
}
.fi_calendar_overdue:before {
  content: "\edeb";
}
.fi_calendar_multiple:before {
  content: "\edec";
}
.fi_calendar_month:before {
  content: "\eded";
}
.fi_calendar_ltr:before {
  content: "\edee";
}
.fi_calendar_error:before {
  content: "\edef";
}
.fi_calendar_empty:before {
  content: "\edf0";
}
.fi_calendar_edit:before {
  content: "\edf1";
}
.fi_calendar_day:before {
  content: "\edf2";
}
.fi_calendar_clock:before {
  content: "\edf3";
}
.fi_calendar_checkmark:before {
  content: "\edf4";
}
.fi_calendar_cancel:before {
  content: "\edf5";
}
.fi_calendar_assistant:before {
  content: "\edf6";
}
.fi_calendar_arrow_down:before {
  content: "\edf7";
}
.fi_calendar_agenda:before {
  content: "\edf8";
}
.fi_calendar_add:before {
  content: "\edf9";
}
.fi_calendar_3_day:before {
  content: "\edfa";
}
.fi_calculator_multiple:before {
  content: "\edfb";
}
.fi_calculator:before {
  content: "\edfc";
}
.fi_building_skyscraper:before {
  content: "\edfd";
}
.fi_building_shop:before {
  content: "\edfe";
}
.fi_building_retail_toolbox:before {
  content: "\edff";
}
.fi_building_retail_shield:before {
  content: "\ee00";
}
.fi_building_retail_money:before {
  content: "\ee01";
}
.fi_building_retail:before {
  content: "\ee02";
}
.fi_building_multiple:before {
  content: "\ee03";
}
.fi_building_government:before {
  content: "\ee04";
}
.fi_building_factory:before {
  content: "\ee05";
}
.fi_building_bank_toolbox:before {
  content: "\ee06";
}
.fi_building_bank_link:before {
  content: "\ee07";
}
.fi_building_bank:before {
  content: "\ee08";
}
.fi_building:before {
  content: "\ee09";
}
.fi_bug:before {
  content: "\ee0a";
}
.fi_broom:before {
  content: "\ee0b";
}
.fi_broad_activity_feed:before {
  content: "\ee0c";
}
.fi_briefcase_off:before {
  content: "\ee0d";
}
.fi_briefcase_medical:before {
  content: "\ee0e";
}
.fi_briefcase:before {
  content: "\ee0f";
}
.fi_branch_fork:before {
  content: "\ee10";
}
.fi_branch_compare:before {
  content: "\ee11";
}
.fi_branch:before {
  content: "\ee12";
}
.fi_brain_circuit:before {
  content: "\ee13";
}
.fi_braces_variable:before {
  content: "\ee14";
}
.fi_box_toolbox:before {
  content: "\ee15";
}
.fi_box_edit:before {
  content: "\ee16";
}
.fi_bowl_chopsticks:before {
  content: "\ee17";
}
.fi_bot_add:before {
  content: "\ee18";
}
.fi_bot:before {
  content: "\ee19";
}
.fi_border_top_bottom_thick:before {
  content: "\ee1a";
}
.fi_border_top_bottom_double:before {
  content: "\ee1b";
}
.fi_border_top_bottom:before {
  content: "\ee1c";
}
.fi_border_top:before {
  content: "\ee1d";
}
.fi_border_right:before {
  content: "\ee1e";
}
.fi_border_outside_thick:before {
  content: "\ee1f";
}
.fi_border_outside:before {
  content: "\ee20";
}
.fi_border_left:before {
  content: "\ee21";
}
.fi_border_bottom_thick:before {
  content: "\ee22";
}
.fi_border_bottom_double:before {
  content: "\ee23";
}
.fi_border_bottom:before {
  content: "\ee24";
}
.fi_border_all:before {
  content: "\ee25";
}
.fi_border:before {
  content: "\ee26";
}
.fi_bookmark_off:before {
  content: "\ee27";
}
.fi_bookmark_multiple:before {
  content: "\ee28";
}
.fi_bookmark_add:before {
  content: "\ee29";
}
.fi_bookmark:before {
  content: "\ee2a";
}
.fi_book_toolbox:before {
  content: "\ee2b";
}
.fi_book_theta:before {
  content: "\ee2c";
}
.fi_book_star:before {
  content: "\ee2d";
}
.fi_book_search:before {
  content: "\ee2e";
}
.fi_book_question_mark_rtl:before {
  content: "\ee2f";
}
.fi_book_question_mark:before {
  content: "\ee30";
}
.fi_book_pulse:before {
  content: "\ee31";
}
.fi_book_open_microphone:before {
  content: "\ee32";
}
.fi_book_open_globe:before {
  content: "\ee33";
}
.fi_book_open:before {
  content: "\ee34";
}
.fi_book_number:before {
  content: "\ee35";
}
.fi_book_letter:before {
  content: "\ee36";
}
.fi_book_information:before {
  content: "\ee37";
}
.fi_book_globe:before {
  content: "\ee38";
}
.fi_book_exclamation_mark:before {
  content: "\ee39";
}
.fi_book_database:before {
  content: "\ee3a";
}
.fi_book_contacts:before {
  content: "\ee3b";
}
.fi_book_compass:before {
  content: "\ee3c";
}
.fi_book_coins:before {
  content: "\ee3d";
}
.fi_book_clock:before {
  content: "\ee3e";
}
.fi_book_add:before {
  content: "\ee3f";
}
.fi_book:before {
  content: "\ee40";
}
.fi_board_split:before {
  content: "\ee41";
}
.fi_board:before {
  content: "\ee42";
}
.fi_blur:before {
  content: "\ee43";
}
.fi_bluetooth_searching:before {
  content: "\ee44";
}
.fi_bluetooth_disabled:before {
  content: "\ee45";
}
.fi_bluetooth_connected:before {
  content: "\ee46";
}
.fi_bluetooth:before {
  content: "\ee47";
}
.fi_block:before {
  content: "\ee48";
}
.fi_bin_full:before {
  content: "\ee49";
}
.fi_bed:before {
  content: "\ee4a";
}
.fi_beaker_edit:before {
  content: "\ee4b";
}
.fi_beaker:before {
  content: "\ee4c";
}
.fi_beach:before {
  content: "\ee4d";
}
.fi_battery_warning:before {
  content: "\ee4e";
}
.fi_battery_saver:before {
  content: "\ee4f";
}
.fi_battery_full:before {
  content: "\ee50";
}
.fi_battery_checkmark:before {
  content: "\ee51";
}
.fi_battery_charge:before {
  content: "\ee52";
}
.fi_battery_9:before {
  content: "\ee53";
}
.fi_battery_8:before {
  content: "\ee54";
}
.fi_battery_7:before {
  content: "\ee55";
}
.fi_battery_6:before {
  content: "\ee56";
}
.fi_battery_5:before {
  content: "\ee57";
}
.fi_battery_4:before {
  content: "\ee58";
}
.fi_battery_3:before {
  content: "\ee59";
}
.fi_battery_2:before {
  content: "\ee5a";
}
.fi_battery_1:before {
  content: "\ee5b";
}
.fi_battery_0:before {
  content: "\ee5c";
}
.fi_barcode_scanner:before {
  content: "\ee5d";
}
.fi_balloon:before {
  content: "\ee5e";
}
.fi_badge:before {
  content: "\ee5f";
}
.fi_backspace:before {
  content: "\ee60";
}
.fi_backpack_add:before {
  content: "\ee61";
}
.fi_backpack:before {
  content: "\ee62";
}
.fi_autosum:before {
  content: "\ee63";
}
.fi_autofit_content:before {
  content: "\ee64";
}
.fi_autocorrect:before {
  content: "\ee65";
}
.fi_auto_fit_width:before {
  content: "\ee66";
}
.fi_auto_fit_height:before {
  content: "\ee67";
}
.fi_attach_text:before {
  content: "\ee68";
}
.fi_attach_arrow_right:before {
  content: "\ee69";
}
.fi_attach:before {
  content: "\ee6a";
}
.fi_arrows_bidirectional:before {
  content: "\ee6b";
}
.fi_arrow_upload:before {
  content: "\ee6c";
}
.fi_arrow_up_right:before {
  content: "\ee6d";
}
.fi_arrow_up_left:before {
  content: "\ee6e";
}
.fi_arrow_up:before {
  content: "\ee6f";
}
.fi_arrow_undo:before {
  content: "\ee70";
}
.fi_arrow_turn_right:before {
  content: "\ee71";
}
.fi_arrow_turn_bidirectional_down_right:before {
  content: "\ee72";
}
.fi_arrow_trending_settings:before {
  content: "\ee73";
}
.fi_arrow_trending_lines:before {
  content: "\ee74";
}
.fi_arrow_trending_checkmark:before {
  content: "\ee75";
}
.fi_arrow_trending:before {
  content: "\ee76";
}
.fi_arrow_sync_circle:before {
  content: "\ee77";
}
.fi_arrow_sync:before {
  content: "\ee78";
}
.fi_arrow_swap:before {
  content: "\ee79";
}
.fi_arrow_square_down:before {
  content: "\ee7a";
}
.fi_arrow_sort_up:before {
  content: "\ee7b";
}
.fi_arrow_sort_down:before {
  content: "\ee7c";
}
.fi_arrow_sort:before {
  content: "\ee7d";
}
.fi_arrow_routing_rectangle_multiple:before {
  content: "\ee7e";
}
.fi_arrow_routing:before {
  content: "\ee7f";
}
.fi_arrow_rotate_counterclockwise:before {
  content: "\ee80";
}
.fi_arrow_rotate_clockwise:before {
  content: "\ee81";
}
.fi_arrow_right:before {
  content: "\ee82";
}
.fi_arrow_reset:before {
  content: "\ee83";
}
.fi_arrow_reply_down:before {
  content: "\ee84";
}
.fi_arrow_reply_all:before {
  content: "\ee85";
}
.fi_arrow_reply:before {
  content: "\ee86";
}
.fi_arrow_repeat_all_off:before {
  content: "\ee87";
}
.fi_arrow_repeat_all:before {
  content: "\ee88";
}
.fi_arrow_redo:before {
  content: "\ee89";
}
.fi_arrow_previous:before {
  content: "\ee8a";
}
.fi_arrow_next:before {
  content: "\ee8b";
}
.fi_arrow_move:before {
  content: "\ee8c";
}
.fi_arrow_minimize_vertical:before {
  content: "\ee8d";
}
.fi_arrow_minimize:before {
  content: "\ee8e";
}
.fi_arrow_maximize_vertical:before {
  content: "\ee8f";
}
.fi_arrow_maximize:before {
  content: "\ee90";
}
.fi_arrow_left:before {
  content: "\ee91";
}
.fi_arrow_import:before {
  content: "\ee92";
}
.fi_arrow_hook_up_right:before {
  content: "\ee93";
}
.fi_arrow_hook_up_left:before {
  content: "\ee94";
}
.fi_arrow_hook_down_right:before {
  content: "\ee95";
}
.fi_arrow_hook_down_left:before {
  content: "\ee96";
}
.fi_arrow_growth:before {
  content: "\ee97";
}
.fi_arrow_forward:before {
  content: "\ee98";
}
.fi_arrow_export_up:before {
  content: "\ee99";
}
.fi_arrow_export_ltr:before {
  content: "\ee9a";
}
.fi_arrow_expand:before {
  content: "\ee9b";
}
.fi_arrow_enter_up:before {
  content: "\ee9c";
}
.fi_arrow_enter_left:before {
  content: "\ee9d";
}
.fi_arrow_download:before {
  content: "\ee9e";
}
.fi_arrow_down_left:before {
  content: "\ee9f";
}
.fi_arrow_down:before {
  content: "\eea0";
}
.fi_arrow_curve_down_left:before {
  content: "\eea1";
}
.fi_arrow_counterclockwise_dashes:before {
  content: "\eea2";
}
.fi_arrow_counterclockwise:before {
  content: "\eea3";
}
.fi_arrow_collapse_all:before {
  content: "\eea4";
}
.fi_arrow_clockwise_dashes:before {
  content: "\eea5";
}
.fi_arrow_clockwise:before {
  content: "\eea6";
}
.fi_arrow_circle_up_left:before {
  content: "\eea7";
}
.fi_arrow_circle_up:before {
  content: "\eea8";
}
.fi_arrow_circle_right:before {
  content: "\eea9";
}
.fi_arrow_circle_left:before {
  content: "\eeaa";
}
.fi_arrow_circle_down_split:before {
  content: "\eeab";
}
.fi_arrow_circle_down_right:before {
  content: "\eeac";
}
.fi_arrow_circle_down_double:before {
  content: "\eead";
}
.fi_arrow_circle_down:before {
  content: "\eeae";
}
.fi_arrow_bounce:before {
  content: "\eeaf";
}
.fi_arrow_bidirectional_up_down:before {
  content: "\eeb0";
}
.fi_arrow_autofit_width_dotted:before {
  content: "\eeb1";
}
.fi_arrow_autofit_width:before {
  content: "\eeb2";
}
.fi_arrow_autofit_up:before {
  content: "\eeb3";
}
.fi_arrow_autofit_height_dotted:before {
  content: "\eeb4";
}
.fi_arrow_autofit_height:before {
  content: "\eeb5";
}
.fi_arrow_autofit_down:before {
  content: "\eeb6";
}
.fi_arrow_autofit_content:before {
  content: "\eeb7";
}
.fi_archive:before {
  content: "\eeb8";
}
.fi_apps_list_detail:before {
  content: "\eeb9";
}
.fi_apps_list:before {
  content: "\eeba";
}
.fi_apps_add_in:before {
  content: "\eebb";
}
.fi_apps:before {
  content: "\eebc";
}
.fi_approvals_app:before {
  content: "\eebd";
}
.fi_app_title:before {
  content: "\eebe";
}
.fi_app_store:before {
  content: "\eebf";
}
.fi_app_recent:before {
  content: "\eec0";
}
.fi_app_generic:before {
  content: "\eec1";
}
.fi_app_folder:before {
  content: "\eec2";
}
.fi_animal_turtle:before {
  content: "\eec3";
}
.fi_animal_rabbit:before {
  content: "\eec4";
}
.fi_animal_dog:before {
  content: "\eec5";
}
.fi_animal_cat:before {
  content: "\eec6";
}
.fi_align_top:before {
  content: "\eec7";
}
.fi_align_right:before {
  content: "\eec8";
}
.fi_align_left:before {
  content: "\eec9";
}
.fi_align_center_vertical:before {
  content: "\eeca";
}
.fi_align_center_horizontal:before {
  content: "\eecb";
}
.fi_align_bottom:before {
  content: "\eecc";
}
.fi_alert_urgent:before {
  content: "\eecd";
}
.fi_alert_snooze:before {
  content: "\eece";
}
.fi_alert_on:before {
  content: "\eecf";
}
.fi_alert_off:before {
  content: "\eed0";
}
.fi_alert:before {
  content: "\eed1";
}
.fi_album_add:before {
  content: "\eed2";
}
.fi_album:before {
  content: "\eed3";
}
.fi_airplane_take_off:before {
  content: "\eed4";
}
.fi_airplane:before {
  content: "\eed5";
}
.fi_add_subtract_circle:before {
  content: "\eed6";
}
.fi_add_square:before {
  content: "\eed7";
}
.fi_add_circle:before {
  content: "\eed8";
}
.fi_add:before {
  content: "\eed9";
}
.fi_accessibility_checkmark:before {
  content: "\eeda";
}
.fi_accessibility:before {
  content: "\eedb";
}
.fi_access_time:before {
  content: "\eedc";
}
